.course {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: var(--primary-bg);
  display: flex;
  transition: all 0.1s linear;
  cursor: pointer;
  position: relative;

  .deadline {
    font-size: 11px;
    color: var(--secondary-text);
  }

  .blocked {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;

    .warning-ctn {
      position: relative;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      z-index: 5;

      .warning-description {
        font-size: 13px;
        font-weight: 600;
      }

      .sub-warning-description {
        font-size: 12px;
        margin-bottom: 12px;
      }

      fa-icon {
        color: var(--warning);
        font-size: 24px;
      }
    }

    &::after {
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      background-color: var(--stage-body-locked);
      opacity: 0.75;
      filter: brightness(0.5);
      position: absolute;
    }
  }

  &:hover {
    background: var(--secondary-bg);
  }

  .image-wrapper {
    height: 200px;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );

    img {
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  .course-info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    .info {
      grid-column: 1/12;

      .course-name,
      .description {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .course-name {
        font-weight: 500;
        font-size: 14px;
      }

      .description {
        font-size: 12px;
        margin-top: 3px;
        color: var(--secondary-text);
      }

      .author {
        font-size: 12px;
        color: var(--tertiary-text);
        margin-top: 8px;
      }

      .feedback-ctn {
        display: flex;
        align-items: center;
        margin-top: 15px;
        gap: 10px;

        .stars-number {
          font-size: 13px;
          color: var(--brand-light);
          font-weight: 600;
        }

        .feedbacks-number {
          font-size: 12px;
          color: var(--tertiary-text);
          font-weight: 400;
        }

        .stars-ctn {
          display: flex;
          gap: 2px;
          align-items: center;
          transform: translateY(-1px);

          fa-icon {
            color: var(--brand-light);
          }
        }
      }

      .others-info {
        margin-top: 3px;
        color: var(--tertiary-text);
        font-size: 12px;
        display: flex;
        gap: 5px;
      }
      .add-to-cart-group {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 12px;

        .progress {
          margin: 8px 0;
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;

          .header {
            display: flex;
            justify-content: space-between;

            .label {
              color: var(--secondary-text);
            }
          }

          .progress-bar-ctn {
            height: 15px;
            border-radius: 12px;
            overflow: hidden;
            background: var(--tertiary-bg);
            position: relative;

            .percent {
              position: absolute;
              left: 50%;
              font-size: 11px;
              transform: translate(-50%, 0);
              color: var(--primary-text);
              z-index: 2;
            }

            .progress-bar {
              height: 100%;
              width: 0%;
              background: linear-gradient(
                to right,
                var(--brand-hover),
                var(--brand-focused)
              );
              position: relative;
              overflow: hidden;
              z-index: 1;

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -150%;
                width: 150%;
                height: 100%;
                background: linear-gradient(
                  to right,
                  transparent,
                  rgba(255, 255, 255, 0.55),
                  transparent
                );
                animation: glowing 2.5s infinite;
                pointer-events: none;
              }
            }
          }
        }

        i {
          font-size: 17px;
          color: var(--secondary-text);
          cursor: pointer;
          transition: all 0.1s linear;

          &:hover {
            color: var(--brand-hover);
          }

          &.favorited {
            color: var(--brand-hover);

            &:hover {
              color: var(--brand-focused);
            }
          }
        }
      }
    }
    .price {
      grid-column: 12/13;
      width: 100%;
      text-align: right;

      .final-price {
        color: var(--brand-hover);
        font-weight: 600;
      }

      .current-price {
        font-size: 12px;
        color: var(--secondary-text);
        text-decoration: line-through;
        margin-top: 5px;
      }
    }
  }

  .tags {
    display: flex;
    gap: 6px;

    .tag {
      font-size: 11px;
      color: var(--secondary-text);
    }
  }
}
