<div class="course" *ngIf="course" #item (click)="viewCourseDetails()">

  <div class="blocked" (click)="stopEvent($event)"> 
   <div class="warning-ctn">
    <fa-icon [icon]="warningIcon"></fa-icon>
    <div class="warning-description">{{"LABEL.PATH_EXCEED_DEADLINE" | translate}}</div>
    <div class="sub-warning-description">{{"LABEL.PATH_EXTEND_DEADLINE" | translate}}</div>
    <app-button type="primary">{{'BUTTON.EXTEND_DEADLINE' | translate}}</app-button>
   </div>
  </div>

  <div class="image-wrapper">
    <img [src]="course.photoUrl" />
  </div>
  <div class="course-info">
    <div class="info">
      <div class="course-name">
        {{ course.title }}
      </div>
      <div class="description">{{ course.description }}</div>
      <div class="author">{{ course.author }}</div>
      <div class="feedback-ctn">
        <div class="stars-number">{{ course.rating }}</div>
        <div class="stars-ctn">
          <fa-icon
            *ngFor="let starIcon of starsList"
            [icon]="starIcon"
          ></fa-icon>
        </div>
        <div class="feedbacks-number">
          ({{ course.totalReview.toLocaleString() }})
        </div>
      </div>
      <div class="others-info">
        <div class="time">
          {{ "LABEL.MINUTES" | translate : { value: course.totalTime } }}
        </div>
        <div>·</div>
        <div class="lesson">
          {{
            "LABEL.TOTAL_LESSONS" | translate : { lesson: course.totalLesson }
          }}
        </div>
        @if(isExpertView) {
        <div>·</div>
        <div class="lesson">
          {{ (course.isPublic ? "LABEL.PUBLIC" : "LABEL.PRIVATE") | translate }}
        </div>
        }
      </div>

      <div class="add-to-cart-group" *ngIf="!isEdit && !isExpertView">
        @if(course.progressPercentage === null) {
        <app-button
          [ngStyle]="{ width: 'calc(100%)' }"
          [type]="'primary'"
          [style]="{ width: '100%' }"
          (click)="onAddToCart($event)"
          >{{
            (isInCart ? "BUTTON.GO_TO_CART" : "BUTTON.ADD_TO_CART") | translate
          }}</app-button
        >
        <i
          nz-icon
          nzType="heart"
          [ngClass]="{ favorited: isInWishlist }"
          [nzTheme]="isInWishlist ? 'fill' : 'outline'"
          (click)="onAddToWishlist($event)"
          *ngIf="!isInCart"
        ></i>
        } @else {
        <div class="progress">
          <div class="header">
            <div class="label">{{ "LABEL.PROGRESS" | translate }}</div>
          </div>
          <div class="progress-bar-ctn">
            <div class="percent">{{ round(course.progressPercentage) || 0 }}%</div>
            <div
              class="progress-bar text-gradient"
              [ngStyle]="{ width: (course.progressPercentage || 0) + '%' }"
            ></div>
          </div>
        </div>
        }
      </div>

      <div class="add-to-cart-group" *ngIf="isEdit && !isExpertView">
        <app-button
          [ngStyle]="{ width: 'calc(100%)' }"
          [type]="'danger'"
          [style]="{ width: '100%', background: 'none', color: 'var(--alert)' }"
          (click)="handleRemoveCourse($event)"
          >{{ "BUTTON.REMOVE" | translate }}</app-button
        >
      </div>
    </div>
    <div class="price">
      <div class="final-price">
        {{
          "SIGNATURE.MONEY_VALUE"
            | translate
              : {
                  value: (
                    course.price * (1 - discountAmount / 100) | currencyExchange
                  ).toLocaleString()
                }
        }}
      </div>
      <div class="current-price" *ngIf="discountAmount > 0">
        {{
          "SIGNATURE.MONEY_VALUE"
            | translate
              : {
                  value: (course.price | currencyExchange).toLocaleString()
                }
        }}
      </div>
    </div>

    <div class="tags" *ngIf="isExpertView">
      <!-- <div class="tag" *ngFor="let tag of course.t">#{{ tag.name }}</div> -->
    </div>
  </div>
</div>
