<div class="course-item" (click)="onCourseClick()">
  <div class="option" style="z-index: 999">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + pannelBtn.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of pannelBtn; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action($event)"
      >
        <fa-icon [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="image-ctn">
    <img [src]="course.photoUrl" />
  </div>
  <div class="info-ctn">
    <div class="name">{{ course.title }}</div>

    <div class="other-info">
      <div class="time">
        {{ "LABEL.MINUTES" | translate : { value: course.totalTime} }}
      </div>
      <div>·</div>
      <div class="lesson">
        {{ "LABEL.TOTAL_LESSONS" | translate : { lesson: course.totalLesson} }}
      </div>
      <div>·</div>
      <div class="leaners">
        {{
          "LABEL.LEANERS_COUNT" | translate : { value: (course.totalLearners || 0).toLocaleString() }
        }}
      </div>
      <div>·</div>
      <div class="course-status">
        {{ ('LABEL.' + course.status.toUpperCase()) | translate }}
      </div>
    </div>

    <div class="feedback-ctn">
      <div class="stars-number">{{ course.rating }}</div>
      <div class="stars-ctn">
        <fa-icon *ngFor="let starIcon of starsList" [icon]="starIcon"></fa-icon>
      </div>
      <div class="feedbacks-number">
        ({{ course.totalReview.toLocaleString() }})
      </div>
    </div>
  </div>
</div>
