<div class="course-details" @fadeInOut>
  <div class="course-info">
    <div class="course-name">{{ courseDetails.name }}</div>
    <!-- <div class="course-instructor">
      {{ "LABEL.INSTRUCTOR" | translate }}
      <a [routerLink]="'/profile/' + courseDetails.author.id">{{
        courseDetails.author.name
      }}</a>
    </div> -->
    <!--  -->
    <div class="feedback-ctn">
      <div class="stars-number">{{ courseDetails.rating }}</div>
      <div class="stars-ctn">
        <fa-icon *ngFor="let starIcon of starsList" [icon]="starIcon"></fa-icon>
      </div>
      <a
        [routerLink]="'/feedback/' + courseDetails.id"
        class="feedbacks-number"
      >
        ({{
          "LABEL.REVIEWS_COUNT"
            | translate
              : { value: courseDetails.numberOfRating.toLocaleString() }
        }})
      </a>
      <div>·</div>
      <div>
        {{
          "LABEL.LEANERS_COUNT"
            | translate : { value: courseDetails.leanerCount.toLocaleString() }
        }}
      </div>
    </div>
    <!--  -->

    <div class="additional">
      <div class="addt">
        <nz-icon nzType="edit"></nz-icon>
        <div class="value">
          {{
            "LABEL.LAST_UPDATED"
              | translate
                : {
                    value:
                      "SIGNATURE.DATE_FORMAT"
                      | translate : onGetCourseLastUpdate()
                  }
          }}
        </div>
      </div>
      <div class="addt">
        <nz-icon nzType="safety-certificate"></nz-icon>
        <div class="value">
          {{ "LABEL.CERTIFIED" | translate }}
        </div>
      </div>
    </div>

    <!--  -->
    <div class="description-title">{{ "LABEL.INSTRUCTOR" | translate }}</div>
    <div class="instructor-info-wrapper">
      <app-avatar-by-name [name]="courseDetails.author.name" [size]="'50px'" />
      <div class="info">
        <a [routerLink]="'/profile/' + courseDetails.author.id" class="name">{{
          courseDetails.author.name
        }}</a>
        <div class="job-title">{{ courseDetails.author.jobTitle }}</div>
      </div>
    </div>
    <div class="instructor-statistics">
      <div
        class="stat"
        *ngFor="let stat of courseDetails.author.statistics; let i = index"
      >
        <nz-icon nzType="{{ authorStatsIcon[i] }}"></nz-icon>
        {{ stat.label | translate : { value: stat.value } }}
      </div>
    </div>
    <div class="instructor-description">
      {{ courseDetails.author.description }}
    </div>

    <div class="description-title">{{ "LABEL.DESCRIPTION" | translate }}</div>
    <div class="description-content">{{ courseDetails.description }}</div>

    <div class="requirements-title">{{ "LABEL.REQUIREMENTS" | translate }}</div>
    <div class="requirements">
      <div class="req-item" *ngFor="let req of courseDetails.requirements">
        <nz-icon nzType="exclamation-circle"></nz-icon>{{ req }}
      </div>
    </div>

    <div class="description-title">{{ "LABEL.STAGES" | translate }}</div>
    <div class="sections-ctn">
        <app-course-section *ngFor="let stage of courseDetails.stages; let i = index" [index]="i" [stage]="stage"></app-course-section>
    </div>
  </div>
</div>

<ng-template #floatingContent></ng-template>
