<div class="course-details" @fadeInOut>
  <div class="course-info">
    <div class="course-name">{{ courseDetails?.title }}</div>
    <div class="feedback-ctn">
      <div class="stars-number">{{ courseDetails?.rating ?? 0 }}</div>
      <div class="stars-ctn">
        <fa-icon *ngFor="let starIcon of starsList" [icon]="starIcon"></fa-icon>
      </div>
      <a
        [routerLink]="'/feedback/' + courseDetails?.id"
        class="feedbacks-number"
      >
        ({{
          "LABEL.REVIEWS_COUNT"
            | translate : { value: courseDetails?.totalReview ?? 0 }
        }})
      </a>
      <div>·</div>
      <div>
        {{
          "LABEL.LEANERS_COUNT"
            | translate : { value: courseDetails?.totalLearner ?? 0 }
        }}
      </div>
    </div>
    <!--  -->

    <div class="additional">
      <div class="addt">
        <i nz-icon nzType="edit"></i>
        <div class="value">
          {{
            "LABEL.LAST_UPDATED"
              | translate
                : {
                    value:
                      "SIGNATURE.DATE_FORMAT"
                      | translate : onGetCourseLastUpdate()
                  }
          }}
        </div>
      </div>
      <div class="addt">
        <i nz-icon nzType="safety-certificate"></i>
        <div class="value">
          {{ "LABEL.CERTIFIED" | translate }}
        </div>
      </div>
    </div>

    <!--  -->
    <div class="description-title">{{ "LABEL.INSTRUCTOR" | translate }}</div>
    <div class="instructor-info-wrapper">
      <app-avatar-by-name
        *ngIf="courseDetails?.author?.username"
        [name]="courseDetails?.author?.username || ''"
        [size]="'50px'"
      />
      <div class="info">
        <a
          [routerLink]="'/profile/' + courseDetails?.author?.id"
          class="name"
          >{{ courseDetails?.author?.username }}</a
        >
        <div class="job-title">{{ courseDetails?.author?.headline ?? "" }}</div>
      </div>
    </div>
    <div class="instructor-statistics">
      <div class="stat">
        <i nz-icon nzType="{{ authorStatsIcon[0] }}"></i>
        {{
          "LABEL.TOTAL_LEARNER_STATS"
            | translate : { value: courseDetails?.author?.totalLearner ?? 0 }
        }}
      </div>
      <div class="stat">
        <i nz-icon nzType="{{ authorStatsIcon[1] }}"></i>
        {{
          "LABEL.TOTAL_COURSES_STATS"
            | translate
              : { value: courseDetails?.author?.totalCourseCreated ?? 0 }
        }}
      </div>
      <div class="stat">
        <i nz-icon nzType="{{ authorStatsIcon[2] }}"></i>
        {{
          "LABEL.TOTAL_REVIEWS_STATS"
            | translate : { value: courseDetails?.author?.totalReview ?? 0 }
        }}
      </div>
      <div class="stat">
        <i nz-icon nzType="{{ authorStatsIcon[3] }}"></i>
        {{
          "LABEL.AVERAGE_RATINGS_STATS"
            | translate : { value: courseDetails?.author?.rating ?? 0 }
        }}
      </div>
    </div>
    <div class="instructor-description">
      {{ courseDetails?.author?.description }}
    </div>

    <div class="description-title">{{ "LABEL.DESCRIPTION" | translate }}</div>
    <div class="description-content">{{ courseDetails?.description }}</div>

    <div class="requirements-title">{{ "LABEL.REQUIREMENTS" | translate }}</div>
    <div class="requirements">
      <div class="req-item" *ngFor="let req of courseDetails?.requirementList">
        <i nz-icon nzType="exclamation-circle"></i>{{ req }}
      </div>
    </div>

    <div class="description-title">{{ "LABEL.STAGES" | translate }}</div>
    <div class="sections-ctn">
      <app-course-section
        *ngFor="let lesson of courseDetails?.listLesson; let i = index"
        [index]="i"
        [lesson]="lesson"
      ></app-course-section>
    </div>

    <div class="description-title">{{ "LABEL.REVIEW" | translate }}</div>
    <div class="rating-stat">
      <div class="rating">
        {{ courseDetails?.rating ?? 0 }} <fa-icon [icon]="star"></fa-icon>
      </div>
      <div>·</div>
      <div class="reviews-number">
        {{
          "LABEL.REVIEWS_COUNT"
            | translate : { value: courseDetails?.totalReview ?? 0 }
        }}
      </div>
    </div>
  </div>

  <ng-container [ngTemplateOutlet]="floatingContent"></ng-container>
</div>

<ng-template #floatingContent>
  <div
    class="floating-course-details"
    [ngStyle]="{
      top: rightPricePosition + 'px'
    }"
  >
    <div class="info-card">
      <div class="image-wrapper">
        <img [src]="courseDetails?.photoUrl" />
      </div>

      <div class="price">
        <div class="final">
          {{
            "SIGNATURE.MONEY_VALUE"
              | translate
                : {
                    value: courseDetails?.price ?? 0 | currencyExchange
                  }
          }}
        </div>
        <div class="original" *ngIf="discountAmount > 0">
          {{
            "SIGNATURE.MONEY_VALUE"
              | translate
                : { value: courseDetails?.price ?? 0 | currencyExchange }
          }}
        </div>
      </div>

      <div class="add-to-cart-group">
        <app-button
          [ngStyle]="{ width: 'calc(100%)' }"
          [type]="'primary'"
          [style]="{ width: '100%' }"
          (click)="onAddToCart($event)"
          >{{
            (isInCart ? "BUTTON.GO_TO_CART" : "BUTTON.ADD_TO_CART") | translate
          }}</app-button
        >
        <i
          nz-icon
          nzType="heart"
          [ngClass]="{ favorited: isInWishlist }"
          [nzTheme]="isInWishlist ? 'fill' : 'outline'"
          (click)="onAddToWishlist($event)"
          *ngIf="!isInCart"
        ></i>
        <app-dropdownMenu
          [dropdown]="dropdownLearningPath"
          colorVariable="quaternary-bg"
          style="transform: translateY(-1px)"
        >
          <fa-icon
            style="font-size: 14px; cursor: pointer"
            [ngStyle]="{ color: 'var(--secondary-text)' }"
            [icon]="bookMark"
          ></fa-icon>
        </app-dropdownMenu>
      </div>

      <div class="included-title">
        {{ "LABEL.COURSE_INCLUDED" | translate }}
      </div>
      <div class="guarantees-ctn">
        <div class="guarantee" *ngFor="let guarantee of guaranteeItems">
          <i nz-icon nzType="{{ guarantee.icon }}"></i>
          <label>{{
            guarantee.label | translate : { value: guarantee.value }
          }}</label>
        </div>
      </div>

      <!--  -->
      <div class="included-title">
        {{ "LABEL.COUPON" | translate }}
      </div>

      <div class="coupon" *ngIf="_coupon && _coupon.code">
        <div class="info">
          <div class="code">
            <b>{{ _coupon.code }}</b>
            {{ "LABEL.CODE_IS_APPLIED" | translate }}
          </div>
          <div class="discount">-{{ _coupon.discount || 0 }}%</div>
        </div>
        <i nz-icon nzType="close" (click)="removeCoupon()"></i>
      </div>

      <div class="input-code">
        <input
          [(ngModel)]="inputCoupon"
          placeholder="{{ 'LABEL.ENTER_CODE' | translate }}"
          (keydown)="onPressEnterCoupon($event)"
        />
        <app-button
          [type]="'primary'"
          [ngStyle]="{ width: '200px' }"
          [style]="{ width: '100%' }"
          (click)="applyNewCoupon()"
          >{{ "BUTTON.APPLY" | translate }}</app-button
        >
      </div>
    </div>
  </div>
</ng-template>

<ng-template #dropdownLearningPath>
  <div style="width: 300px">
    <div style="font-size: 14px">{{ "LABEL.LEARNING_PATH" | translate }}</div>
    <div style="font-size: 12px; color: var(--secondary-text); margin-top: 2px">
      {{ "LABEL.SELECT_LEARNING_PATH" | translate }}
    </div>

    <div style="margin-top: 8px; display: flex; gap: 8px; flex-direction: column;">
      <div
        *ngIf="!myLearningPaths.length"
        style="font-size: 11px; color: var(--secondary-text)"
      >
        {{ "LABEL.NO_LEARNING_PATH" | translate }}
      </div>
      <div *ngFor="let path of myLearningPaths" (click)="onAddCourseTolearningPath(path.id)" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="font-size: 12px; cursor: pointer;">{{ path.name }} ({{'LABEL.COURSES_COUNT' | translate:{value: path.totalCourses} }})</div>
        <i style="font-size: 10px; color: var(--secondary-text)">{{'LABEL.ADDED' | translate}}</i>
      </div>
    </div>

    <div class="divider"></div>
    <div style="display: flex; gap: 4px">
      <input [(ngModel)]="newLearningPathName" class="formated-input" placeholder="{{'LABEL.NEW_LEARNING_PATH_NAME' | translate}}" style="width: 80%; height: 29px" />
      <app-button (click)="onAddNewLearningPath()" type="primary">Add</app-button>
    </div>
  </div>
</ng-template>
