.learning-path-details {
  padding: 35px 15vw;
  box-sizing: border-box;
  position: relative;
  user-select: none;

  .back {
    color: var(--secondary-text);
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 12px;
    transition: all 0.1s linear;

    &:hover {
      color: var(--primary-text);
    }
  }

  .name {
    font-size: 18px;
    font-weight: 600;
  }

  .description {
    font-size: 12px;
    color: var(--tertiary-text);
    margin-top: 3px;
  }

  .input-name,
  .input-desc {
    display: block;
    background: var(--tertiary-bg);
    border: none;
    outline: none;
    color: var(--primary-text);
    width: calc(100% - 30px);
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: border-box;
  }

  .input-name {
    font-size: 18px;
    font-weight: 600;
  }

  .input-desc {
    font-size: 12px;
    margin-top: 5px;
  }

  .info-ctn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 22px;

    .info {
      display: flex;
      gap: 6px;
      color: var(--secondary-text);

      &.edit {
        padding: 5px 12px;
        border-radius: 8px;
        box-sizing: border-box;
        background: var(--tertiary-bg);
        color: var(--primary-text);
        cursor: pointer !important;

        label {
          cursor: pointer;
        }

        &:hover {
          background: var(--tertiary-bg);
        }
      }
    }

    .btn-ctn {
      display: flex;
      gap: 8px;
      position: absolute;
      right: 0;
      bottom: -50%;
    }
  }

  .option {
    position: absolute;
    right: 15vw;
    top: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    padding: 4px 0;
    box-sizing: border-box;

    &:hover {
      & > .option-item {
        background: var(--secondary-text);
      }

      & > .drop-down {
        display: flex;
      }
    }

    .option-item {
      background: var(--tertiary-text);
      height: 4px;
      width: 4px;
      border-radius: 50%;
      transition: all 0.12s linear;
    }

    .drop-down {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
      background: var(--tertiary-bg);
      border: 1px solid var(--brand-05);
      padding: 8px 0;
      border-radius: 8px;
      box-sizing: border-box;
      z-index: 5;
      width: 167px;
      //   height: 151px;
      animation: fadeIn 0.12s linear;

      &:hover {
        display: block;
      }

      .option {
        display: none;
        position: absolute;
        width: 156px;
        padding: 0 8px;
        border-radius: 8px;
        box-sizing: border-box;
        height: 28px;
        left: 4px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        transition: all 0.12s linear;

        &:hover {
          background: var(--brand-05);
        }
      }
    }
  }

  .courses-ctn {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .course-wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      &.dragging {
        opacity: 0.3;
        cursor: grabbing;
      }

      .drag-point {
        margin-right: 10px;
        cursor: grab;
        font-size: 22px;
        color: var(--tertiary-text);
        opacity: 0.7;
      }

      app-path-course-item {
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add_new_course {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  height: 200px;
  border-radius: 16px;
  background-color: var(--mask);
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    background-color: var(--mask-hover);
  }
}


.course-item-lesson {
  width: 100%;
  min-height: 140px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--primary-bg);
  display: flex;
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover {
    background: var(--secondary-bg);
  }

  .image-wrapper {
    min-height: 140px;
    max-height: 140px;
    aspect-ratio: 16/9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0) 100%
    );

    .check-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: var(--brand);
    }

    img {
      height: 100%;
    }
  }

  .course-info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;

    .others-info {
      margin-top: 8px;
      color: var(--tertiary-text);
      font-size: 12px;
      display: flex;
      gap: 5px;
    }

    .info {
      grid-column: 1/13;

      .course-name,
      .description {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .course-name {
        font-weight: 500;
        font-size: 14px;
      }

      .description {
        font-size: 12px;
        margin-top: 3px;
        color: var(--secondary-text);
      }

      .author {
        font-size: 12px;
        color: var(--tertiary-text);
        margin-top: 8px;
      }

      .feedback-ctn {
        display: flex;
        align-items: center;
        margin-top: 15px;
        gap: 10px;

        .stars-number {
          font-size: 13px;
          color: var(--brand-light);
          font-weight: 600;
        }

        .feedbacks-number {
          font-size: 12px;
          color: var(--tertiary-text);
          font-weight: 400;
        }

        .stars-ctn {
          display: flex;
          gap: 2px;
          align-items: center;
          transform: translateY(-1px);

          fa-icon {
            color: var(--brand-light);
          }
        }
      }
    }
  }
}
