<div class="learning-path-details" *ngIf="learningPathDetails">
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon>{{ "BUTTON.BACK" | translate }}
  </div>
  @if(!isEdit) {
  <div class="name">{{ learningPathDetails.name }}</div>
  <div class="description">{{ learningPathDetails.description }}</div>
  } @else {
  <input class="input-name" [(ngModel)]="tempEditMeta.name" />
  <input class="input-desc" [(ngModel)]="tempEditMeta.description" />
  }

  <div class="option">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + showingPannelBtn.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of showingPannelBtn; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action()"
      >
        <fa-icon [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="info-ctn">
    <div class="info">
      <fa-icon [icon]="authorIcon"></fa-icon>
      <label> {{ learningPathDetails.createdBy.username }}</label>
    </div>
    <div class="info">
      <fa-icon [icon]="timeIcon"></fa-icon>
      <label>
        {{
          "LABEL.MINUTES" | translate : { value: learningPathDetails.totalTime }
        }}</label
      >
    </div>
    <div
      class="info"
      [ngClass]="{
        edit: isEdit
      }"
      (click)="onEditPrivacy()"
    >
      <fa-icon [icon]="privacyIcon"></fa-icon>
      <label>
        {{
          "LABEL." +
            ((isEdit ? tempEditMeta.isPublic : learningPathDetails.isPublic)
              ? "PUBLIC"
              : "PRIVATE") | translate
        }}</label
      >
      <fa-icon *ngIf="isEdit" [icon]="swapIcon"></fa-icon>
    </div>

    <div class="info" *ngIf="learningPathDetails.isEnrolled && !isEdit">
      <fa-icon [icon]="authorIcon"></fa-icon>
      <label>
        {{
          "LABEL.ENROLLED_AT"
            | translate : { value: learningPathDetails.enrollDate }
        }}</label
      >
    </div>

    <div class="btn-ctn" *ngIf="isEdit">
      <app-button (click)="onCancelEdit()">{{
        "BUTTON.CANCEL" | translate
      }}</app-button>
      <app-button (click)="onSaveEdit()" type="primary">{{
        "BUTTON.SAVE" | translate
      }}</app-button>
    </div>
  </div>

  <div class="courses-ctn">
    <div
      class="course-wrapper"
      *ngFor="let course of tempCourseList || learningPathDetails.courses"
      [attr.courseId]="course.id"
      [attr.draggable]="isEdit"
      (dragstart)="onDragStart($event, course)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      [ngClass]="{
        dragging: course.id === currentDragCourse?.id
      }"
    >
      <div class="drag-point" *ngIf="isEdit">
        <fa-icon [icon]="dragIcon"></fa-icon>
      </div>
      <app-path-course-item
        [ngStyle]="{
          cursor: isEdit ? 'grab' : 'pointer'
        }"
        [pathId]="learningPathDetails.id"
        [isEdit]="isEdit"
        [course]="course"
        [isExpertView]="isExpertView"
        (onRemoveCourse)="onRemoveCourse($event)"
        (reinitLearningpath)="initPathDetails()"
      ></app-path-course-item>
    </div>

    <div class="add_new_course" *ngIf="!isEdit" (click)="showSearchCourse()">
      <fa-icon [icon]="addIcon"></fa-icon>
      <div>{{ "LABEL.ADD_NEW_COURSE" | translate }}</div>
    </div>
  </div>
</div>

<ng-template #searchCourse>
  <div style="font-size: 16px; font-weight: 600; margin-bottom: 8px">
    {{ "LABEL.COURSES" | translate }}
  </div>
  <div style="display: flex">
    <nz-input-group [nzSuffix]="suffixIconButton" style="width: 100%">
      <input
        [(ngModel)]="searchKeyword"
        (keydown)="onKeydownSearch($event)"
        nz-input
        placeholder="{{ 'MESSAGE.SEARCH_COURSE' | translate }}"
      />
    </nz-input-group>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 8px;
      max-height: 440px;
      overflow-y: scroll;
    "
  >
    <div class="course-item-lesson" *ngFor="let course of courses" (click)="onSelectCourse(course.id)">
      <div class="image-wrapper">
        <fa-icon *ngIf="isCourseExisted(course.id)" class="check-icon" [icon]="checkIcon"></fa-icon>
        <img [src]="course.photoUrl" />
      </div>
      <div class="course-info">
        <div class="info">
          <div class="course-name">
            {{ course.title }}
          </div>
          <div class="description">{{ course.description }}</div>
          <div class="author">{{ course.author }}</div>
          <div class="feedback-ctn">
            <div class="stars-number">
              {{ round(course.rating) }}
              <fa-icon
                style="color: var(--brand-light); font-size: 11px"
                [icon]="starIcon"
              ></fa-icon>
            </div>
            <div class="feedbacks-number">
              ({{ course.totalReview.toLocaleString() }})
            </div>
          </div>
          <div class="others-info">
            <div class="time">
              {{
                "LABEL.TOTAL_TIME_IN_HOUR"
                  | translate : { hour: course.totalTime }
              }}
            </div>
            <div>·</div>
            <div class="lesson">
              {{
                "LABEL.TOTAL_LESSONS"
                  | translate : { lesson: course.totalLesson }
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #suffixIconButton>
  <i nz-icon nzType="search" style="color: var(--secondary-text)"></i>
</ng-template>
