.learning-path-details {
  padding: 35px 15vw;
  box-sizing: border-box;
  position: relative;

  .name {
    font-size: 18px;
    font-weight: 600;
  }

  .description {
    font-size: 12px;
    color: var(--tertiary-text);
    margin-top: 3px;
  }

  .info-ctn {
    display: flex;
    gap: 25px;
    margin-top: 22px;

    .info {
      display: flex;
      gap: 6px;
      color: var(--secondary-text);
    }
  }

  .option {
    position: absolute;
    right: 15vw;
    top: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    padding: 4px 0;
    box-sizing: border-box;

    &:hover {
      & > .option-item {
        background: var(--secondary-text);
      }

      & > .drop-down {
        display: flex;
      }
    }

    .option-item {
      background: var(--tertiary-text);
      height: 4px;
      width: 4px;
      border-radius: 50%;
      transition: all 0.12s linear;
    }

    .drop-down {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
      background: var(--tertiary-bg);
      border: 1px solid var(--brand-05);
      padding: 8px 0;
      border-radius: 8px;
      box-sizing: border-box;
      z-index: 5;
      width: 167px;
      //   height: 151px;
      animation: fadeIn 0.12s linear;

      &:hover {
        display: block;
      }

      .option {
        display: none;
        position: absolute;
        width: 156px;
        padding: 0 8px;
        border-radius: 8px;
        box-sizing: border-box;
        height: 28px;
        left: 4px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        transition: all 0.12s linear;

        &:hover {
          background: var(--brand-05);
        }
      }
    }
  }

  .courses-ctn {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .course-wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      .drag-point {
        margin-right: 10px;
        cursor: grab;
        font-size: 22px;
        color: var(--tertiary-text);
        opacity: 0.7;
      }

      app-path-course-item {
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
