<div class="learning-path-details">
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon>{{ "BUTTON.BACK" | translate }}
  </div>
  @if(!isEdit) {
  <div class="name">{{ learningPathDetails?.name }}</div>
  <div class="description">{{ learningPathDetails?.description }}</div>
  } @else {
  <input class="input-name" [(ngModel)]="tempEditMeta.name" />
  <input class="input-desc" [(ngModel)]="tempEditMeta.description" />
  }

  <div class="option">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + showingPannelBtn.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of showingPannelBtn; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action()"
      >
        <fa-icon [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="info-ctn">
    <div class="info">
      <fa-icon [icon]="authorIcon"></fa-icon>
      <label> {{ learningPathDetails?.createdBy?.username }}</label>
    </div>
    <div class="info">
      <fa-icon [icon]="timeIcon"></fa-icon>
      <label>
        {{
          "LABEL.MINUTES"
            | translate : { value: learningPathDetails?.totalTime }
        }}</label
      >
    </div>
    <div
      class="info"
      [ngClass]="{
        edit: isEdit && !isExpertView
      }"
      (click)="onEditPrivacy()"
    >
      <fa-icon [icon]="privacyIcon"></fa-icon>
      <label>
        {{
          "LABEL." +
            ((
              isEdit && !isExpertView
                ? tempEditMeta.isPublic
                : learningPathDetails?.isPublic
            )
              ? "PUBLIC"
              : "PRIVATE") | translate
        }}</label
      >
      <fa-icon *ngIf="isEdit && !isExpertView" [icon]="swapIcon"></fa-icon>
    </div>

    <div class="info" *ngIf="learningPathDetails?.isEnrolled">
      <fa-icon [icon]="authorIcon"></fa-icon>
      <label>
        {{
          "LABEL.ENROLLED_AT"
            | translate : { value: learningPathDetails?.enrollDate }
        }}</label
      >
    </div>

    <div class="btn-ctn" *ngIf="isEdit">
      <app-button (click)="onCancelEdit()">{{
        "BUTTON.CANCEL" | translate
      }}</app-button>
      <app-button (click)="onSaveEdit()" type="primary">{{
        "BUTTON.SAVE" | translate
      }}</app-button>
    </div>
  </div>

  <div class="courses-ctn">
    <div
      class="course-wrapper"
      *ngFor="let course of tempCourseList || learningPathDetails?.courses"
      [attr.courseId]="course.id"
      [attr.draggable]="isEdit"
      (dragstart)="onDragStart($event, course)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
      [ngClass]="{
        dragging: course.id === currentDragCourse?.id
      }"
    >
      <div class="drag-point" *ngIf="isEdit">
        <fa-icon [icon]="dragIcon"></fa-icon>
      </div>
      <app-path-course-item
        [ngStyle]="{
          cursor: isEdit ? 'grab' : 'pointer'
        }"
        [isEdit]="isEdit"
        [course]="course"
        [isExpertView]="isExpertView"
        (onRemoveCourse)="onRemoveCourse($event)"
      ></app-path-course-item>
    </div>
  </div>
</div>
