.otp-container {
  display: flex;
  gap: 10px;
  justify-content: start;
  width: 320px;

  .otp-input {
    width: calc(100% / 5);
    height: 50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid var(--stage-body-locked);
    border-radius: 8px;
    background: var(--secondary-bg) !important;
  }
}
