<div class="transactions">
  <div class="title text-gradient">{{ "LABEL.TRANSACTIONS" | translate }}</div>
  <app-table
    *ngIf="isReady"
    [columns]="tableCols"
    [data]="transactions"
  ></app-table>
</div>

<ng-template #proceedPayment let-row="row">
  <div *ngIf="row?.url" style="display: flex; gap: 12px">
    <div style="color: var(--alert); cursor: pointer; text-decoration: underline;" (click)="onCancel(row)">
      {{ "LABEL.CANCEL_ORDER" | translate }}
    </div>

    <a href="{{ row?.url ?? '' }}" target="_blank">{{
      "LABEL.COMPLETE_PAYMENT" | translate
    }}</a>
  </div>
</ng-template>
