<div class="course-list-ctn">
  <i nz-icon nzType="left" nzTheme="outline" (click)="updateViewIndex(-1)"></i>
  <div class="course-list-wrapper">
    <div class="courses-list" [ngStyle]="{transform: 'translateX(calc(((100vw - 110px - 45px) / 3 + 20px) * -' + currentViewIndex + '))'}">
      <app-coursesCard
        *ngFor="let course of courses"
        [course]="course"
        [notShowFooter]="notShowFooter"
      ></app-coursesCard>
    </div>
  </div>
  <i nz-icon nzType="right" nzTheme="outline" (click)="updateViewIndex(1)"></i>
</div>
