<div class="course-approval" @fadeInOut>
  <div class="title">
    {{ "LABEL.PENDING_COURSES_COUNT" | translate : { value: courses.length } }}
  </div>

  <app-table
    *ngIf="isLoaded"
    (onRowClick)="onViewDetails($event)"
    [data]="courses"
    [columns]="tableColumns"
  ></app-table>
</div>

<ng-template #buttons let-row="row" let-index="index">
  <div class="ref-btns-ctn" *ngIf="!isStaffView">
    <fa-icon
      (click)="onUpdateStatus($event, row, true)"
      [icon]="acceptIcon"
      style="color: var(--success)"
    ></fa-icon>
    <fa-icon
      (click)="onReject($event, row)"
      [icon]="rejectIcon"
      style="color: var(--alert)"
    ></fa-icon>
  </div>

  <div class="assign-expert" *ngIf="isStaffView" (click)="stoppropa($event)">
    <!-- <i class="unset" *ngIf="!row.expert">{{ "LABEL.UNSET" | translate }}</i>
    <div class="expert-name" *ngIf="row.expert">{{ row.expert.name }}</div>
    <fa-icon [icon]="editIcon"></fa-icon> -->

    <select
      style="
        padding: 3px;
        background: var(--quaternary-bg);
        outline: none;
        border: var(--quaternary-text);
        border-radius: 5px;
        color: var(--primary-text);
      "
      (change)="onAssignExpert($event, row)"
      [(ngModel)]="row.expertId"
    >
      <option></option>
      <option
        *ngFor="let expert of sortedExpertsList[index] || []"
        [value]="expert.id"
      >
        {{ expert.username }}
      </option>
    </select>
  </div>
</ng-template>

<ng-template #rejectReason>
  <div style="font-weight: 600; margin-bottom: 8px; font-size: 15px">
    {{ "LABEL.REJECT_REASON" | translate }}
  </div>
  <textarea
    class="formated-input"
    style="width: 100%; resize: none; padding: 6px 12px"
    row="7"
    [(ngModel)]="inputRejectReason"
  ></textarea>

  <div
    style="display: flex; gap: 8px; margin-top: 24px; justify-content: center"
  >
    <app-button (click)="onCancel()" [style]="{ width: '200px' }">{{
      "BUTTON.CANCEL" | translate
    }}</app-button>
    <app-button
      (click)="onUpdateStatus($event, rejectingCourse, false)"
      [style]="{ width: '200px' }"
      type="primary"
      >{{ "LABEL.REJECT" | translate }}</app-button
    >
  </div>
</ng-template>
