<div class="course-approval" @fadeInOut>
  <div class="title">
    {{ "LABEL.PENDING_COURSES_COUNT" | translate : { value: 5 } }}
  </div>

  <app-table
    (onRowClick)="onViewDetails($event)"
    [data]="courses"
    [columns]="tableColumns"
  ></app-table>
</div>

<ng-template #buttons let-row="row">
  <div class="ref-btns-ctn">
    <fa-icon (click)="onReject($event, row)" [icon]="acceptIcon" style="color: var(--success)"></fa-icon>
    <fa-icon (click)="onAccept($event, row)" [icon]="rejectIcon" style="color: var(--alert)"></fa-icon>
  </div>
</ng-template>
