<div class="info-section" *ngIf="user">
  <app-avatar-by-name [name]="user.username" [size]="'65px'"></app-avatar-by-name>
  <div class="info">
    <div class="name">{{ user.username }}</div>
    <div class="email">{{ user.email }}</div>
    <div class="level">
      <i nz-icon nzType="thunderbolt"></i
      >{{ "LABEL.LEVEL" | translate : { level: user.statistic.level || 1} }}
    </div>
  </div>
</div>

<app-button
  [type]="'primary'"
  [ngStyle]="{ width: '100%' }"
  [style]="{ width: '100%', marginTop: '10px' }"
  *ngIf="isViewingSelf"
  >{{ "LABEL.EDIT_PROFILE" | translate }}</app-button
>
<app-button
  [ngStyle]="{ width: '100%' }"
  [style]="{ width: '100%', marginTop: '10px' }"
  *ngIf="!isViewingSelf"
  (click)="onSendMessage()"
  >{{ "BUTTON.SEND_MESSAGE" | translate }}</app-button
>

<!--  -->
<div class="seperator"></div>
<div class="statistics-title">{{ "LABEL.STATISTICS" | translate }}</div>
<div class="stats-list">
  <div class="stat" *ngFor="let stat of statItems">
    <div class="stat-label">
      <i nz-icon nzType="{{ stat.icon }}"></i>
      <div>{{ stat.label | translate }}</div>
    </div>
    <div class="stat-value">{{ stat.value }}</div>
  </div>
</div>

<!--  -->
<div class="seperator"></div>
<div class="statistics-title">{{ "LABEL.CHARACTER" | translate }}</div>
<div style="height: 300px; position: relative; overflow: hidden">
  <app-fox-3d></app-fox-3d>
</div>
