<div class="signin-container">
  <img src="../../../../assets/images/logo.webp" alt="logo" class="logo" />
  <div>
    <div class="title">{{ "LABEL.WELCOME_BACK" | translate }}</div>
    <div class="subtitle">{{ "LABEL.SIGNIN_SUB" | translate }}</div>
  </div>

  <div class="form-container">
    <input type="text" placeholder="{{ 'LABEL.EMAIL' | translate }}" [(ngModel)]="email" />
    <div>
      <input type="password" placeholder="{{ 'LABEL.PASSWORD' | translate }}" [(ngModel)]="password" />
      <div class="forgot-password" (click)="onForgotPassword()">
        {{ "LABEL.FORGOT_PASSWORD" | translate }}
      </div>
    </div>

    <app-button
      [ngStyle]="{ width: '320px' }"
      [style]="{ width: '320px', borderColor: 'var(--brand)' }"
      [type]="'primary'"
      (click)="onSignIn()"
      >{{ "LABEL.SIGNIN" | translate }}</app-button
    >
  </div>

  <div
    style="width: 320px; height: 1px; background: var(--stage-body-locked)"
  ></div>

  <div style="display: flex; gap: 8px; flex-direction: column;">
    <!-- <app-button
      [ngStyle]="{ width: '320px' }"
      [style]="{
        width: '320px',
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
        gap: '8px'
      }"
      [type]="'secondary'"
      (click)="onSignInWithGoogle()"
      ><fa-icon [icon]="googleIcon"></fa-icon>
      {{ "LABEL.SIGNIN_WITH_GOOGLE" | translate }}</app-button
    > -->
    <app-button
      [ngStyle]="{ width: '320px' }"
      [style]="{
        width: '320px',
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
        gap: '8px'
      }"
      [type]="'secondary'"
      (click)="onSignUp()"
    >
      {{ "LABEL.SIGNUP" | translate }}</app-button
    >
  </div>
</div>
