<div class="home-statistics">
  <div class="section-container">
    <div class="welcome-back text-gradient">
      {{ "MESSAGE.WELCOME_BACK" | translate : { name: "Khang" } }}
      <i nz-icon nzType="fire" *ngIf="currentStreak >= 5"></i>
    </div>
    <div class="section-label">{{ "LABEL.STATISTICS" | translate }}</div>
    <!-- Streak -->
    <div class="streak">
      <i nz-icon nzType="fire"></i>
      <div class="info">
        <div class="current">
          {{ "LABEL.STREAK_COUNT" | translate : { streak: currentStreak } }}
        </div>
        <div class="longest">
          {{ "LABEL.LONGEST_STREAK" | translate : { streak: 22 } }}
        </div>
      </div>
    </div>
    <!-- Statistics -->
    <div class="quest" *ngFor="let stat of statistics">
      <div class="info-wrapper">
        <i nz-icon nzType="{{ stat.icon }}"></i>
        <div class="info">{{ stat.label | translate }}</div>
      </div>
      <div class="progress">{{ stat.value }}</div>
    </div>
  </div>

  <!-- Daily quest -->
  <div class="section-container">
    <div class="section-label">{{ "LABEL.DAILY_QUESTS" | translate }}</div>
    <div class="quest" *ngFor="let quest of dailyQuests">
      <div class="info-wrapper">
        <i nz-icon nzType="aim"></i>
        <div class="info">{{ quest.quest }}</div>
      </div>
      <div class="progress">{{ quest.current }}/{{ quest.max }}</div>
    </div>
  </div>

  <!-- Fox -->
  <div class="section-container">
    <app-fox-3d></app-fox-3d>
    <div class="pannel-ctn">
      <div class="gold-ctn">
        <fa-icon [icon]="coinIcon"></fa-icon>
        <div class="number">224</div>
        <fa-icon class="add" [icon]="addIcon"></fa-icon>
      </div>

      <fa-icon class="shop" [icon]="shopIcon"></fa-icon>

      <a routerLink="items">
        <fa-icon class="shop" [icon]="boxIcon"></fa-icon>
      </a>
    </div>

    <div class="level">
      <div class="label">{{ "LABEL.LEVEL" | translate : { level: 15 } }}</div>
      <div class="progress">
        <div class="progress-heart"></div>
        <div class="exp">123/522</div>
      </div>
    </div>
  </div>
</div>
