.home-statistics {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(24, 1fr);
  height: fit-content;

  .fox {
    grid-column: 17/24;
    position: relative;
  }

  .ctn-1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-column: 1/17;

    .ctn-1-child {
      display: flex;
      gap: 24px;

      .section-container {
        width: calc(50% - 8px);
      }
    }
  }

  .pannel-ctn {
    position: absolute;
    top: 0;
    right: 18%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;

    .shop {
      font-size: 11px;
      color: var(--brand-light);
      cursor: pointer;
      margin-right: 5px;
      transition: all 0.1s linear;

      &:hover {
        color: var(--brand-hover);
      }
    }

    .gold-ctn {
      padding: 4px 8px;
      background: var(--tertiary-bg);
      border-radius: 12px;
      display: flex;
      gap: 5px;

      fa-icon {
        font-size: 10px;
        color: var(--brand-light);

        &.add {
          color: var(--secondary-text);
          cursor: pointer;
          transition: all 0.1s linear;

          &:hover {
            color: var(--primary-text);
          }
        }
      }

      .number {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }

  .level {
    width: 60%;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);

    .label {
      margin-bottom: 2px;
      font-weight: 500;
      font-size: 13px;
    }

    .progress {
      height: 15px;
      width: 100%;
      border-radius: 10px;
      background: var(--tertiary-bg);
      overflow: hidden;
      position: relative;

      .exp {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 9px;
        color: var(--primary-text);
        text-shadow: 0 0 2px var(--tertiary-text);
      }

      .progress-heart {
        height: 100%;
        width: 63%;
        z-index: 1;
        border-radius: 10px;
        background: linear-gradient(
          to right,
          var(--brand-hover),
          var(--brand-focused)
        );
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -150%;
          width: 150%;
          height: 100%;
          background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.55),
            transparent
          );
          animation: glowing 2.5s infinite;
          pointer-events: none;
        }
      }
    }
  }

  i {
    font-size: 20px;
    color: var(--brand-hover);
    transform: translateY(1px);
  }

  .streak {
    margin-top: 10px;
    background-color: var(--tertiary-bg);
    padding: 8px 22px;
    border-radius: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--quaternary-bg);
    max-width: 100%;

    .info {
      display: flex;
      flex-direction: column;
      gap: 3px;

      .current {
        font-size: 14px;
        font-weight: 600;
        color: var(--brand-hover);
      }

      .longest {
        font-size: 11px;
        color: var(--secondary-text);
      }
    }
  }

  .welcome-back {
    font-size: 22px;
    font-weight: 600;
  }

  .section-label {
    margin-top: 8px;
    font-size: 14px;
    color: var(--secondary-text);
    font-weight: 600;
  }

  .no-quest {
    font-size: 12px;
    display: block;
    color: var(--tertiary-text);
    margin-top: 4px;
  }

  .quest {
    margin-top: 10px;
    background-color: var(--tertiary-bg);
    padding: 12px 22px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--quaternary-bg);
    max-width: 100%;

    .info-wrapper {
      display: flex;
      gap: 10px;
      align-items: center;

      .info {
        gap: 3px;
        font-size: 12px;
        font-weight: 400;
        color: var(--secondary-text);
        overflow: hidden;
      }
    }

    .progress {
      color: var(--brand-light);
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 5ch;
      text-align: right;
    }
  }
}

@keyframes glowing {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
