<div class="home-statistics">
  <div class="ctn-1">
    <div class="welcome-back text-gradient">
      {{ "MESSAGE.WELCOME_BACK" | translate : { name: user?.username ?? "" } }}
      <i
        nz-icon
        nzType="fire"
        *ngIf="user?.statistic?.currentStreak ?? 0 >= 5"
      ></i>
    </div>

    <div class="ctn-1-child">
      <div class="section-container">
        <div class="section-label">{{ "LABEL.STATISTICS" | translate }}</div>
        <!-- Streak -->
        <div class="streak">
          <i nz-icon nzType="fire"></i>
          <div class="info">
            <div class="current">
              {{
                "LABEL.STREAK_COUNT"
                  | translate : { streak: user?.statistic?.currentStreak ?? 0 }
              }}
            </div>
            <div class="longest">
              {{
                "LABEL.LONGEST_STREAK"
                  | translate : { streak: user?.statistic?.longestStreak ?? 0 }
              }}
            </div>
          </div>
        </div>

        <!-- Statistics -->
        <div
          class="quest"
          *ngFor="let stat of statistics"
          [ngStyle]="{ cursor: 'pointer' }"
          (click)="onHandleStatOnClick(stat.label)"
        >
          <div class="info-wrapper">
            <i nz-icon nzType="{{ stat.icon }}"></i>
            <div class="info">{{ stat.label | translate }}</div>
          </div>
          <div class="progress">{{ stat.value }}</div>
        </div>
      </div>

      <!-- Daily quest -->
      <div class="section-container">
        <div class="section-label">{{ "LABEL.DAILY_QUESTS" | translate }}</div>
        <i class="no-quest" *ngIf="dailyQuests.length === 0">{{
          "LABEL.NO_DAILY_QUESTS" | translate
        }}</i>
        <div class="quest" *ngFor="let quest of dailyQuests">
          <div class="info-wrapper">
            <i nz-icon nzType="aim"></i>
            <div class="info">
              {{ quest.quest | translate : quest.questValue }}
            </div>
          </div>
          <div
            *ngIf="quest?.isCompleted"
            (click)="onClaimReward(quest.id)"
            style="
              text-align: center;
              color: var(--brand-light);
              cursor: pointer;
            "
          >
            <fa-icon [icon]="starIcon"></fa-icon>
            <div style="font-size: 10px; margin-top: 3px">
              {{ "LABEL.CLAIM" | translate }}
            </div>
          </div>
          <div *ngIf="!quest?.isCompleted" class="progress">
            {{ quest.current }}/{{ quest.max }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fox -->
  <div class="section-container fox">
    <app-fox-3d></app-fox-3d>
    <div class="pannel-ctn">
      <div class="gold-ctn">
        <fa-icon [icon]="coinIcon"></fa-icon>
        <div class="number">{{ user?.statistic?.gold ?? 0 }}</div>
        <!-- <fa-icon class="add" [icon]="addIcon"></fa-icon> -->
      </div>

      <a routerLink="shop-items">
        <fa-icon class="shop" [icon]="shopIcon"></fa-icon>
      </a>

      <a routerLink="items">
        <fa-icon class="shop" [icon]="boxIcon"></fa-icon>
      </a>
    </div>

    <div class="level">
      <div class="label">
        {{ "LABEL.LEVEL" | translate : { level: user?.statistic?.level || 1 } }}
      </div>
      <div class="progress">
        <div
          class="progress-heart"
          [style.width]="
            ((user?.statistic?.exp ?? 0) /
              (user?.statistic?.maxExpLevel ?? 0)) *
              100 +
            '%'
          "
        ></div>
        <div class="exp">
          {{ user?.statistic?.exp ?? 0 }}/{{
            user?.statistic?.maxExpLevel ?? 0
          }}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #shop>
  <app-shop-items></app-shop-items>
</ng-template>
