<div class="terms" @fadeInOut>
  <div class="title text-gradient" data-aos="fade-right">
    {{ "LABEL.TERMS_OF_SERVICE" | translate }}
  </div>
  <div class="description" data-aos="fade-left">
    {{ "LABEL.TERMS_OF_SERVICE_CONTENT" | translate }}
  </div>

  <div class="sections-ctn">
    <div
      class="section"
      *ngFor="let term of terms; let i = index"
      data-aos="fade-up"
    >
      <div class="term-title">{{ i + 1 }}. {{ term.title | translate }}</div>
      <div
        class="term-content-ctn"
        *ngFor="
          let content of (term.content | translate).split('|');
          let z = index
        "
      >
        <div class="content">{{ i + 1 }}.{{ z + 1 }} {{ content }}</div>
      </div>
    </div>
  </div>
</div>
