<div class="navbar">
  <!-- Left -->
  <div class="ctn">
    <img class="logo" src="/assets/images/logo.webp" (click)="onBackHome()" />
    <div class="name text-gradient" (click)="onBackHome()">
      {{ "LABEL.WEB_NAME" | translate }}
    </div>
    <a
      *ngIf="user && user.roleId === 3"
      class="routerLink"
      routerLink="/learning-path"
      >{{ "LABEL.LEARNING_PATH" | translate }}</a
    >
  </div>

  <!-- Middle -->
  <div class="ctn">
    <ng-container
      [ngTemplateOutlet]="user?.roleId === 2 ? instructorMid : leanerMid"
    ></ng-container>
  </div>

  <!-- Right -->
  <div class="ctn">
    <ng-container
      [ngTemplateOutlet]="user ? signedIn : notSignIn"
    ></ng-container>
  </div>
</div>

<ng-template #notSignIn>
  <div class="btn-ctn">
    <app-button (click)="onExploreMore()">{{
      "LABEL.EXPLORE_MORE" | translate
    }}</app-button>
    <app-button [type]="'primary'" (click)="onSignIn()">
      <fa-icon
        style="font-size: 12px; margin-right: 3px"
        [icon]="googleIcon"
      ></fa-icon>
      {{ "LABEL.SIGN_IN" | translate }}</app-button
    >
  </div>
</ng-template>

<ng-template #signedIn>
  <app-dropdownMenu
    *ngFor="let icon of iconItems"
    [dropdown]="getTemplate(icon.routerLink)"
    [position]="user?.roleId === 2 ? 'left' : 'center'"
  >
    <a
      class="routerLink"
      [ngClass]="icon.routerLink"
      [routerLink]="icon.routerLink"
    >
      <app-badge [count]="icon.badge">
        <i nz-icon [nzType]="icon.icon"></i>
      </app-badge>
    </a>
  </app-dropdownMenu>
  <div class="level" *ngIf="user && user.roleId === 3">
    <i nz-icon nzType="thunderbolt"></i>
    {{ "LABEL.LEVEL" | translate : { level: 15 } }}
  </div>

  <app-dropdownMenu [dropdown]="getTemplate('profile')" [position]="'left'">
    <div class="profile" (click)="goToProfilePage()">
      <i nz-icon nzType="user"></i>
    </div>
  </app-dropdownMenu>
</ng-template>

<ng-template #wishListDropdown>
  <app-wishlist-cart></app-wishlist-cart>
</ng-template>

<ng-template #cartDropdown>
  <app-navbar-cart></app-navbar-cart>
</ng-template>

<ng-template #notificationDropdown>
  <app-navbar-noti></app-navbar-noti>
</ng-template>

<ng-template #messageDropdown>
  <app-navbar-chat></app-navbar-chat>
</ng-template>

<ng-template #profileDropdown>
  <app-navbar-profile></app-navbar-profile>
</ng-template>

<ng-template #leanerMid>
  <nz-input-group [nzSuffix]="suffixIconButton" style="width: 32vw">
    <input
      [(ngModel)]="searchText"
      (keydown)="onConfirmSearchCourse($event)"
      nz-input
      placeholder="{{ 'MESSAGE.SEARCH_COURSE' | translate }}"
    />
  </nz-input-group>

  <ng-template #suffixIconButton>
    <i nz-icon nzType="search" style="color: var(--secondary-text)"></i>
  </ng-template>
</ng-template>

<ng-template #instructorMid> ins </ng-template>
