.shop-items {
    padding: 35px 10vw;
    box-sizing: border-box;
    min-height: 80vh;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      box-sizing: border-box;
  
      .title {
        font-size: 25px;
        font-weight: 600;
      }

      .shards-list {
        display: flex;
        gap: 4px;
      }
  
      .gold-ctn {
        padding: 7px 12px;
        background: var(--secondary-bg);
        border-radius: 12px;
        display: flex;
        gap: 7px;
  
        fa-icon {
          font-size: 13px;
          color: var(--brand-light);
  
          &.add {
            color: var(--secondary-text);
            cursor: pointer;
            transition: all 0.1s linear;
  
            &:hover {
              color: var(--primary-text);
            }
          }
        }
  
        .number {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  
    .items-list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  
      .item {
        width: calc(100% / 5 - 20px);
        background: var(--secondary-bg);
        padding: 8px 12px;
        box-sizing: border-box;
        border-radius: 12px;
  
        .img-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          aspect-ratio: 1/1;
  
          img {
            max-height: 100%;
            max-width: 100%;
            filter: drop-shadow(0 0 5px var(--quaternary-text))
          }
        }
  
        .item-name {
          margin-top: 12px;
          text-align: center;
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
  
        .price {
          margin-top: 7px;
          display: flex;
          align-self: center;
          justify-content: center;
          gap: 5px;
  
          fa-icon {
            color: var(--brand-light);
          }
        }
  
        .owned {
          width: 100%;
          margin-top: 15px;
          text-align: center;
          color: var(--secondary-text);
          font-size: 12px;
          padding: 5px 0;
        }
  
        .buy-btn {
          width: 100%;
          margin-top: 15px;
          padding: 5px 7px;
          border-radius: 7px;
          outline: none;
          border: none;
          background: var(--brand-hover);
          color: var(--primary-text);
          cursor: pointer;
          transition: all 0.1s linear;
          box-sizing: border-box;
  
          &:hover {
            background: var(--brand-focused);
          }
        }
      }
    }
  }
  