<div class="leaner-profile">
  <div class="left">
    <app-leaner-profile-info [isStaffView]="isStaffView" [user]="user"></app-leaner-profile-info>
  </div>
  <div class="right">
    <app-leaner-achievements [user]="user"></app-leaner-achievements>
    <app-learning-heatmap [user]="user"></app-learning-heatmap>
    <app-leaner-courses [isStaffView]="isStaffView" [user]="user"></app-leaner-courses>
  </div>
</div>

<!--
  Rewarded Achievements
  Progress Heat map
  Fox 3D
  Recent study courses
-->
