<div class="instructor-profile" *ngIf="user">
  <div class="left">
    <app-avatar-by-name [name]="user.username" [size]="'200px'" />
    <app-button (click)="onSendMessage()">{{ "BUTTON.SEND_MESSAGE" | translate }}</app-button>
  </div>

  <div class="right">
    <div class="instructor-text">
      {{ ("LABEL.INSTRUCTOR" | translate).toUpperCase() }}
    </div>
    <!--  -->
    <div class="name">{{ user.username }}</div>
    <div class="headline">Software Engineer &#64;FPT Software</div>
    <!--  -->
    <div class="numeric">
      <div class="part">
        <div class="title">{{ "LABEL.TOTAL_LEANERS" | translate }}</div>
        <div class="data">123.456.789</div>
      </div>
      <div class="part">
        <div class="title">{{ "LABEL.TOTAL_REVIEWS" | translate }}</div>
        <div class="data">654.321</div>
      </div>
      <div class="part">
        <div class="title">{{ "LABEL.AVERAGE_REVIEWS" | translate }}</div>
        <div class="data">4.5 <fa-icon [icon]="star"></fa-icon></div>
      </div>
    </div>

    @if(isStaffView) {
    <div class="other-info">
      <div class="label">{{ "LABEL.EMAIL" | translate }}</div>
      <div class="content">{{ user.email }}</div>
    </div>

    <div class="other-info">
      <div class="label">{{ "LABEL.PHONE" | translate }}</div>
      <div class="content">{{ user.phone }}</div>
    </div>
    }

    <!--  -->
    <div class="about-me-title">{{ "LABEL.ABOUT_ME" | translate }}</div>
    <div class="about-me-content">
      Khang is a skilled Front-End Developer with expertise in HTML, CSS,
      JavaScript, and TypeScript, specializing in modern frameworks like ReactJS
      and Angular. With a solid understanding of accessibility and web security,
      Khang creates secure, efficient, and elegant code tailored to user needs.
      His keen problem-solving ability, adaptability, and experience in medical
      software projects reflect his dedication to delivering high-quality,
      user-focused solutions. Always eager to learn, Khang is currently
      expanding his knowledge in C#, .NET, and backend development to become a
      well-rounded software engineer.
    </div>
  </div>
</div>

<div class="courses-title">{{ "LABEL.COURSES" | translate }}</div>
<div class="courses">
  <app-coursesCard
    [isStaffView]="isStaffView"
    *ngFor="let course of sampleCourses"
    [course]="course"
  />
</div>
<!-- Name, email, job title, descript, total leaners, reviews, avg reviews, courses -->
