<div class="instructor-profile" *ngIf="user">
  <div class="left">
    <app-avatar-by-name [name]="user.username" [size]="'200px'" />
    <app-button (click)="onSendMessage()" *ngIf="currentUser && user.id !== currentUser?.id">{{
      "BUTTON.SEND_MESSAGE" | translate
    }}</app-button>
  </div>

  <div class="right">
    <div class="instructor-text">
      {{ ("LABEL.INSTRUCTOR" | translate).toUpperCase() }}
    </div>
    <!--  -->
    <div class="name">{{ user.username }}</div>
    <div class="headline">{{ user.headline ?? "" }}</div>
    <!--  -->
    <div class="numeric">
      <div class="part">
        <div class="title">{{ "LABEL.TOTAL_LEANERS" | translate }}</div>
        <div class="data">{{ user.totalLearners }}</div>
      </div>
      <div class="part">
        <div class="title">{{ "LABEL.TOTAL_REVIEWS" | translate }}</div>
        <div class="data">{{ user.totalReviews }}</div>
      </div>
      <div class="part">
        <div class="title">{{ "LABEL.AVERAGE_REVIEWS" | translate }}</div>
        <div class="data">
          {{ user.avarageReviews }} <fa-icon [icon]="star"></fa-icon>
        </div>
      </div>
    </div>

    @if(isStaffView) {
    <div class="other-info">
      <div class="label">{{ "LABEL.EMAIL" | translate }}</div>
      <div class="content">{{ user.email }}</div>
    </div>

    <div class="other-info">
      <div class="label">{{ "LABEL.PHONE" | translate }}</div>
      <div class="content">{{ user.phone }}</div>
    </div>
    }

    <!--  -->
    <div class="about-me-title">{{ "LABEL.ABOUT_ME" | translate }}</div>
    <div class="about-me-content">
      {{ user.description }}
    </div>
  </div>
</div>

<div class="courses-title">{{ "LABEL.COURSES" | translate }}</div>
<div class="courses">
  <app-coursesCard
    [isStaffView]="isStaffView"
    *ngFor="let course of (user?.courses ?? [])"
    [course]="course"
  />
</div>
<!-- Name, email, job title, descript, total leaners, reviews, avg reviews, courses -->
