<div class="material-ctn" *ngIf="materials">
  <div class="header">
    <div class="title text-gradient">
      {{ "LABEL.DOCUMENT_MATERIAL" | translate }}
    </div>
    <app-button [style]="{ display: 'flex', gap: '4px' }" (click)="onCreate()"
      ><fa-icon [icon]="addIcon"></fa-icon
      >{{ "BUTTON.ADD_DOCUMENT" | translate }}</app-button
    >
  </div>

  <div class="material-items-ctn">
    <div class="material-row" *ngFor="let material of materials.document.items">
      <div class="info">
        <div class="name">{{ material.title }}</div>
        <div class="description">{{ material.description }}</div>
      </div>
      <div class="btn-ctn">
        <fa-icon
          (click)="onEdit($event, material.id)"
          class="edit"
          [icon]="editIcon"
        ></fa-icon>
        <fa-icon
          (click)="onDelete($event, material.id)"
          class="delete"
          [icon]="deleteIcon"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
