<div class="learning-path" @fadeInOutAnimation>
  <div class="title text-gradient">{{ "LABEL.LEANING_PATH" | translate }}</div>

  <div class="tabs">
    <div
      class="tab"
      [ngClass]="{
        active: tab.value === currentViewTab
      }"
      (click)="onChangeTab(tab.value)"
      *ngFor="let tab of tabs"
    >
      {{ tab.label | translate }}
    </div>
  </div>

  <div class="paths-ctn" *ngIf="getLearningPathList() as learningPaths">
    <div
      *ngIf="learningPaths.length === 0"
      style="color: var(--secondary-text); font-size: 12px"
    >
      {{ "LABEL.NO_LEARNING_PATH" | translate }}
    </div>
    <app-path-item
      *ngFor="let path of learningPaths"
      [path]="path"
      [isViewExpert]="true"
    ></app-path-item>
  </div>
</div>

<!-- Show leaning path created by expert user -->
<!-- Categorize learning path -->
<!-- CRUD learning path -->
