<div class="show-off-title text-gradient" data-aos="fade-down">{{'LABEL.FEATURES' | translate}}</div>
<div class="show-off-sub-title" data-aos="fade-down" data-aos-delay="100">{{'LABEL.FEATURES_SUB_TITLE' | translate}}</div>
<div class="home-showoff" id="home-showoff">
  <div class="item" *ngFor="let item of items; let i = index" data-aos="fade-up" [attr.data-aos-delay]="200 + 200 * i">
    <fa-icon [icon]="item.icon"></fa-icon>
    <div class="item-title">{{ item.title | translate }}</div>
    <div class="item-content">{{ item.content | translate }}</div>
  </div>
</div>
