.navbar-cart-item-ctn {
  width: 300px;
  max-height: 500px;

  .no-course {
    text-align: center;
    font-size: 12px;
    color: var(--secondary-text);
  }

  .course-map-ctn {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 300px;
    overflow-y: scroll;

    .navbar-cart-item {
      border-radius: 8px;
      min-height: 60px;
      overflow: hidden;
      background: var(--tertiary-bg);
      display: flex;
      gap: 8px;
      padding: 5px;
      border: 1px solid var(--quaternary-bg);
      transition: all 0.12s linear;
      cursor: pointer;

      &:hover {
        background: var(--quaternary-bg);
      }

      .info {
        box-sizing: border-box;
        .name {
          font-size: 11px;
          font-weight: 600;
          color: var(--primary-text);
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }

        .author {
          font-size: 10px;
          color: var(--secondary-text);
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }

        .price {
          margin-top: 3px;
          display: flex;
          align-items: center;
          gap: 3px;

          .discounted {
            font-size: 10px;
            color: var(--brand-light);
            font-weight: 500;
          }

          .original {
            font-size: 8px;
            color: var(--secondary-text);
            font-weight: 400;
            text-decoration: line-through;
          }
        }
      }

      .add-to-cart {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 10px;
        margin-top: 5px;
        cursor: pointer;
        transition: all 0.12s linear;

        &:hover {
          color: var(--brand-hover);
        }

        label {
        }

        i {
          transform: translateY(1px);
        }
      }

      .img-wrapper {
        height: 60px;
        width: 60px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
        }
      }
    }
  }

  .divider {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid var(--tertiary-text);
    background: var(--secondary-bg);
  }
}
