<div class="categorize-courses" @fadeInOut>
  <div class="section">
    <div class="section-header">
      <div>
        <div class="label">{{ "LABEL.TAGS" | translate }}</div>
        <div class="sub-label">
          {{ "LABEL.TAGS_SUB" | translate }}
        </div>
      </div>
      <app-button>
        <fa-icon [icon]="addIcon" style="margin-right: 5px"></fa-icon
        >{{ "BUTTON.ADD_TAG" | translate }}</app-button
      >
    </div>
    <app-table
      *ngIf="this.tagsData.length > 0"
      [columns]="tagTableColumns"
      [data]="tagsData"
    ></app-table>
  </div>

  <div class="section">
    <div class="label">{{ "LABEL.COURSES" | translate }}</div>
    <div class="sub-label">{{ "LABEL.COURSES_SUB" | translate }}</div>

    <app-table [columns]="courseTableColumns" [data]="coursesData"></app-table>
  </div>
</div>

<ng-template #initCourseByTag let-row="row" let-index="index">
  <div style="cursor: pointer; display: flex; align-items: center; gap: 6px; color: var(--secondary-text); text-align: right; width: 100%" (click)="onConfirmSearchCourse(row)">
    {{ "LABEL.GET_COURSE_HAVE_THIS_TAG" | translate }}
    <fa-icon [icon]="rightIcon"></fa-icon>
  </div>
</ng-template>

<ng-template #edit let-row="row" let-index="index">
  <fa-icon
    style="cursor: pointer"
    (click)="onEdit($event, row, index)"
    [icon]="editIcon"
  ></fa-icon>
</ng-template>
