<div class="categorize-courses" @fadeInOut>
  <div class="section">
    <div class="section-header">
      <div>
        <div class="label">{{ "LABEL.TAGS" | translate }}</div>
        <div class="sub-label">
          {{ "LABEL.TAGS_SUB" | translate }}
        </div>
      </div>
      <app-button (click)="showAddTagModal()">
        <fa-icon [icon]="addIcon" style="margin-right: 5px"></fa-icon
        >{{ "BUTTON.ADD_TAG" | translate }}</app-button
      >
    </div>
    <app-table
      *ngIf="this.tagsData.length > 0 && isInitTagFinished"
      [columns]="tagTableColumns"
      [data]="tagsData"
    ></app-table>
  </div>

  <div class="section">
    <div class="label">{{ "LABEL.COURSES" | translate }}</div>
    <div class="sub-label">{{ "LABEL.COURSES_SUB" | translate }}</div>

    <app-table
      *ngIf="isShowCourse"
      [columns]="courseTableColumns"
      [data]="coursesData"
      (onRowClick)="onViewCourseDetails($event)"
    ></app-table>
  </div>
</div>

<ng-template #initCourseByTag let-row="row" let-index="index">
  <div
    style="
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--secondary-text);
      text-align: right;
      width: 100%;
    "
    (click)="onConfirmSearchCourse(row)"
  >
    {{ "LABEL.GET_COURSE_HAVE_THIS_TAG" | translate }}
    <fa-icon [icon]="rightIcon"></fa-icon>
  </div>
</ng-template>

<ng-template #edit let-row="row" let-index="index">
  <fa-icon
    style="cursor: pointer"
    (click)="onEdit($event, row, index)"
    [icon]="editIcon"
  ></fa-icon>
</ng-template>

<ng-template #addTag>
  <div style="font-weight: 600; font-size: 16px">
    {{ "BUTTON.ADD_TAG" | translate }}
  </div>
  <input
    class="formated-input"
    style="
      margin-top: 12px;
      margin-bottom: 12px;
      padding: 12px 8px;
      height: 35px;
      width: 100%;
    "
    [placeholder]="'LABEL.ENTER_TAG' | translate"
    [(ngModel)]="newTag.tagName"
  />

  <div style="font-weight: 600; font-size: 16px">
    {{ "LABEL.TYPE" | translate }}
  </div>
  <select class="select-tag-type">
    <option
      *ngFor="let tag of tagList"
      [value]="tag.id"
      [attr.selected]="tag.id === newTag.type ? true : null"
    >
      {{ tag.label | translate }}
    </option>
  </select>

  <app-button type="primary" (click)="onSubmitAddTag()">{{
    "BUTTON.SUBMIT" | translate
  }}</app-button>
</ng-template>
