.signin-container {
    padding: 30px 0;
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .logo {
        width: 80px;
    }

    .title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;
        text-align: center;
    }

    .subtitle {
        font-size: 13px;
        font-weight: 400;
        color: var(--secondary-text);
        text-align: center; 
    }

    .form-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input {
            width: 320px;
            height: 38px;
            border-radius: 12px;
            border: 1px solid var(--stage-body-locked) !important;
            padding: 8px 12px !important;
            background: var(--secondary-bg) !important;
            box-sizing: border-box; 
            font-size: 12px !important;
        }

        .forgot-password {
            font-size: 11px;
            color: var(--tertiary-text);
            text-align: right;
            margin-top: 4px;
            cursor: pointer;
        }

        .otp-text {
            font-size: 12px;
            color: var(--secondary-text);
            margin-bottom: 10px;
        }

        .resend-otp {
            font-size: 11px;
            color: var(--secondary-text);
            margin-top: 6px;
            cursor: pointer;
        }
    }

    .signin-btn {
        width: 320px;
    }
}