<div class="signin-container">
  <img src="../../../../assets/images/logo.webp" alt="logo" class="logo" />
  <div>
    <div class="title">{{ "LABEL.FORGOT_PASSWORD" | translate }}</div>
    <div class="subtitle">
      {{
        "LABEL." +
          (currentStep === 1
            ? "FORGOT_PASSWORD_SUB"
            : currentStep === 2
            ? "CHANGE_PASSWORD_SUB_2"
            : currentStep === 3
            ? "NEW_PASSWORD_SENT"
            : "") | translate: { email }
      }}
    </div>
  </div>

  <div class="form-container">
    <div *ngIf="currentStep === 1">
      <input
        type="text"
        placeholder="{{ 'LABEL.EMAIL' | translate }}"
        [(ngModel)]="email"
      />
      <div class="forgot-password" (click)="backToSignIn()">
        {{ "LABEL.BACK_TO_SIGNIN" | translate }}
      </div>
    </div>

    <div *ngIf="currentStep === 2" style="margin-bottom: 6px">
      <div class="otp-text">We have sent an OTP to {{ email }}</div>
      <app-otp (onKeyChange)="onOtpChange($event)"></app-otp>
      <div class="resend-otp" (click)="resendOTP()">
        Resend OTP ({{ resendTime }}s)
      </div>
    </div>

    <div
      *ngIf="currentStep === 3"
      style="display: flex; flex-direction: column; gap: 6px"
    ></div>

    <app-button
      *ngIf="currentStep < 3"
      [ngStyle]="{ width: '320px' }"
      [style]="{ width: '320px', borderColor: 'var(--brand)' }"
      [type]="'primary'"
      (click)="onContinue()"
      >{{ "LABEL.CONTINUE" | translate }}</app-button
    >
  </div>
</div>
