<div class="fox-items-ctn">
  <div class="items-box"></div>
  <div class="fox-box">
    <app-fox-3d></app-fox-3d>
    <div class="fox-item-map">
      <div class="item-slot head"></div>
      <div class="item-slot body"></div>
      <div class="item-slot leftHand"></div>
      <div class="item-slot rightHand"></div>
      <div class="item-slot legs"></div>
      <div class="item-slot feet1"></div>
      <div class="item-slot feet2"></div>
      <!-- <div
        class="item-slot"
        [ngClass]="slot.key"
        *ngFor="let slot of itemsSlot"
      ></div> -->
    </div>
  </div>
</div>
