<div class="fox-items-ctn">
  <div class="items-box">
    <div
      class="item"
      [ngClass]="{
        equipped: equippedItems.includes(item.id),
        locked: !allowedItemsId.includes(item.id)
      }"
      *ngFor="let item of allItems"
      (click)="changeItem(item.id)"
    >
      <fa-icon
        *ngIf="!allowedItemsId.includes(item.id)"
        [icon]="lockIcon"
      ></fa-icon>
      <img [src]="thumbnailPath + item.id + '.png'" />
    </div>
  </div>
  <div class="fox-box">
    <app-fox-3d></app-fox-3d>
    <div class="fox-item-map">
      <div class="item-slot" [ngClass]="slot" *ngFor="let slot of slots">
        <img
          *ngIf="currentEquipedItem[slot]?.id"
          [src]="thumbnailPath + currentEquipedItem[slot]?.id + '.png'"
          (click)="changeItem(currentEquipedItem[slot]?.id)"
        />
      </div>
    </div>
  </div>
</div>
