.revenue-trends {
    .label {
        font-size: 16px;
        font-weight: 500;
    }

    .sub-label {
        font-size: 12px;
        color: var(--secondary-text);
        margin-bottom: 8px;
    }
}