<div class="leaderboard">
  <div class="title text-gradient">{{ "LABEL.LEADERBOARD" | translate }}</div>
  <div class="sub-title">{{ "LABEL.LEADERBOARD_SUB" | translate }}</div>

  <div class="top-ctn">
    <div
      class="top-item"
      *ngFor="let item of top3"
      [ngClass]="'top-' + item.rank"
    >
      <img [src]="item.avatarUrl" />
      <div class="name" (click)="onViewProfile(item.id)">{{ item.username }}</div>
      <div class="score">
        {{ "SIGNATURE.MINUTES" | translate : { value: item.score } }}
      </div>

      <div class="step">#{{ item.rank }}</div>
    </div>
  </div>

  <div class="learner-list">
    <div class="learner" *ngFor="let learner of leaderboards">
      <div class="rank">#{{ learner.rank }}</div>
      <img [src]="learner.avatarUrl" />
      <div class="name" (click)="onViewProfile(learner.id)">{{ learner.username }}</div>
      <div class="score">
        {{ "SIGNATURE.MINUTES" | translate : { value: learner.score } }}
      </div>
    </div>
  </div>
</div>
