.leaner-achievements {
    width: 100%;
    background: var(--secondary-bg);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--tertiary-bg);

    .title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 12px;
    }
}