.search-pannel {
  padding: 0 20px;
  box-sizing: border-box;
  .section {
    .title {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 600;
      color: var(--brand-light);

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .tags-ctn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .tag {
      display: flex;
      align-items: center;
      gap: 5px;
      background: var(--brand-02);
      padding: 4px 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        i {
          color: var(--alert) !important;
        }
      }

      i {
        transform: translateY(2px);
        transition: all 0.12s linear;
      }
    }
  }

  .clear-filter {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondary-text);
    cursor: pointer;
  }
}
