.platform-stats {
  padding: 24px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .title {
    font-size: 18px;
    font-weight: 500;
  }

  .section {
    &:nth-child(2n) {
      .layout {
        direction: rtl;
        .stat-item {
          direction: ltr;
        }
      }
    }

    .layout {
      margin-top: 8px;
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      gap: 8px;

      .stats {
        grid-column: 1/9;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .stat-item {
          width: 100%;
          flex: 1;
          padding: 16px;
          box-sizing: border-box;
          border-radius: 12px;
          background: var(--secondary-bg);
          //   border: 1px solid var(--quaternary-text);

          .header {
            display: flex;
            justify-content: space-between;
            align-items: start;

            label {
              font-size: 13px;
              color: var(--secondary-text);
            }

            fa-icon,
            .icon {
              font-size: 20px;
              color: var(--brand-light);
            }
          }

          .value {
            margin-top: 8px;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .chart {
        grid-column: 9/25;
        background: var(--secondary-bg);
        border-radius: 12px;
        padding: 12px;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;

        .header {
            font-size: 14px;
            text-align: left;
            font-weight: 500;
        }

        .pie {
            padding: 0 20%;
            box-sizing: border-box;
        }
      }
    }
  }
}
