<div class="platform-settings">
  <div class="title text-gradient">{{ "LABEL.SETTINGS" | translate }}</div>
  <div class="tabs">
    <a
      class="tab"
      [routerLink]="tab.link"
      *ngFor="let tab of tabs"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['active']"
    >
      {{ tab.label | translate }}
    </a>
  </div>

  <router-outlet></router-outlet>
</div>

<!-- 
    Platform Settings:
- Exp & Level (Exp per level, number of level, reward when level up)
- Quests
- Premium Package Pricing manage
- Shop Item manage
- Coupon
 -->
