#three-container {
  width: 100%;
  height: 100%;
}

#three-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 12px;
  background: var(--quaternary-bg);
  border-radius: 12px;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
  display: none;

  #percent {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
  }

  #running {
    position: absolute;
    width: 0%;
    height: 100%;
    background: var(--brand);
    z-index: 1;
    transition: all 0.12s linear;;
  }
}
