<div class="navbar-chat">
  <div class="header">
    <div class="title">{{ "LABEL.CHAT" | translate }}</div>
    <a routerLink="chat" class="view-all">
      {{ "LABEL.VIEW_ALL" | translate }} <i nz-icon nzType="right"></i>
    </a>
  </div>
  <div class="conversations-list">
    <div *ngIf="!conversations.length" class="no-conversations">
      {{ "LABEL.NO_CONVERSATION" | translate }}
    </div>
    <div class="conversation" *ngFor="let conv of conversations" (click)="viewConversation(conv.id ?? '')">
      <app-avatar-by-name [name]="getOtherUser(conv)"></app-avatar-by-name>
      <div class="info">
        <div class="name">Gia Khang</div>
        <div class="last-message">
          {{ isMeSendMessage(conv) ? ('LABEL.YOU' | translate) + ':' : '' }} {{ conv.lastMessage?.content }} · {{ conv.lastMessage?.time | date : "HH:mm" }}
        </div>
      </div>

      <div class="dot" *ngIf="conv.isMeSeen"></div>
    </div>
  </div>
</div>
