<div class="navbar-chat">
  <div class="header">
    <div class="title">{{ "LABEL.CHAT" | translate }}</div>
    <a routerLink="chat" class="view-all">
      {{ "LABEL.VIEW_ALL" | translate }} <i nz-icon nzType="right"></i>
    </a>
  </div>
  <div class="conversations-list">
    <div class="conversation" *ngFor="let conv of conversations" (click)="viewConversation(conv.id)">
      <app-avatar-by-name [name]="'Gia Khang'"></app-avatar-by-name>
      <div class="info">
        <div class="name">Gia Khang</div>
        <div class="last-message">
          {{ "LABEL.YOU" | translate }}: Hello · 11:22
        </div>
      </div>

      <div class="dot"></div>
    </div>
  </div>
</div>
