<div class="signin-container">
  <div>
    <div class="title">{{ "LABEL.CHANGE_PASSWORD" | translate }}</div>
    <div class="subtitle">
      {{
        currentStep === 1
          ? ("LABEL.CHANGE_PASSWORD_SUB" | translate)
          : ("LABEL.CHANGE_PASSWORD_SUB_2" | translate : { email })
      }}
    </div>
  </div>

  <div class="form-container" *ngIf="currentStep === 1">
    <input
      type="password"
      placeholder="{{ 'LABEL.OLD_PASSWORD' | translate }}"
      [(ngModel)]="oldPassword"
    />

    <input
      type="password"
      placeholder="{{ 'LABEL.NEW_PASSWORD' | translate }}"
      [(ngModel)]="password"
    />
    <input
      type="password"
      placeholder="{{ 'LABEL.CONFIRM_PASSWORD' | translate }}"
      [(ngModel)]="confirmPassword"
    />
  </div>

  <div *ngIf="currentStep === 2" style="margin-bottom: 6px">
    <app-otp (onKeyChange)="onOtpChange($event)"></app-otp>
    <div class="resend-otp" (click)="resendOTP()">
      Resend OTP ({{ resendTime }}s)
    </div>
  </div>

  <app-button
    [ngStyle]="{ width: '320px' }"
    [style]="{ width: '320px', borderColor: 'var(--brand)' }"
    [type]="'primary'"
    (click)="onConfirm()"
    >{{ "LABEL.CONTINUE" | translate }}</app-button
  >
</div>
