<div class="learning-heatmap">
  <div class="header">
    <div class="title">
      <b>{{ user?.totalDays }}</b>
      {{ "LABEL.LEARNING_DAYS_THIS_YEAR" | translate }}
    </div>
    <div class="sub-title">
      {{ "LABEL.TOTAL" | translate }}:
      <b>{{ "LABEL.MINUTES" | translate : { value: round(user?.totalMinutes ?? 0) } }}</b>
    </div>
  </div>

  <div class="heatmap">
    <div class="months" *ngFor="let month of heatmapDates; let i = index">
      <div class="weeks">
        <div class="datesCtn" *ngFor="let daysSet of month">
          <div
            [ngClass]="{
              show: date,
            }"
            [ngStyle]="onGetColorByTime(date?.time)"
            class="days"
            *ngFor="let date of daysSet"
            matTooltip="{{
              date
                ? ('SIGNATURE.DATE_FORMAT'
                    | translate : getDateNumber(date.fullDate)) +
                  ': ' +
                  ('LABEL.MINUTES' | translate : { value: date.time })
                : ''
            }}"
          ></div>
        </div>
      </div>
      <div class="month-label">{{ getMonthLabel(i) | translate }}</div>
    </div>
  </div>
</div>
