<div class="about-page">
  <div class="title text-gradient" data-aos="fade-right">
    {{ "LABEL.ABOUT" | translate }}
  </div>
  <div class="section">
    <div class="subject" data-aos="fade-down">
      {{ "LABEL.OUR_STORY" | translate }}
    </div>
    <div class="content" data-aos="fade-up">
      {{ "LABEL.OUR_STORY_CONTENT" | translate }}
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down">
      {{ "LABEL.WHAT_DIFFERENT" | translate }}
    </div>
    <div class="content" data-aos="fade-up">
      {{ "LABEL.WHAT_DIFFERENT_CONTENT" | translate }}
    </div>
    <div class="items-list-about">
      <div
        class="item"
        *ngFor="let item of whatDifferentItems; let i = index"
        data-aos="fade-up"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
        <div class="title">{{ item.title | translate }}</div>
        <div class="content">{{ item.content | translate }}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down">
      {{ "LABEL.OUR_VALUES" | translate }}
    </div>
    <div class="items-list-about">
      <div
        class="item"
        *ngFor="let item of ourValuesItems; let i = index"
        data-aos="fade-up"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
        <div class="title">{{ item.title | translate }}</div>
        <div class="content">{{ item.content | translate }}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down">
      {{ "LABEL.LOOKING_AHEAD" | translate }}
    </div>
    <div class="content" data-aos="fade-up">
      {{ "LABEL.LOOKING_AHEAD_CONTENT" | translate }}
    </div>
  </div>
</div>
