<div class="about-page">
  <div class="title text-gradient" data-aos="fade-right">
    {{ "LABEL.ABOUT" | translate }}
  </div>
  <div class="section">
    <div class="subject" data-aos="fade-down" data-aos-delay="300">
      {{ "LABEL.OUR_STORY" | translate }}
    </div>
    <div class="content" data-aos="fade-up" data-aos-delay="500">
      {{ "LABEL.OUR_STORY_CONTENT" | translate }}
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down" data-aos-delay="800">
      {{ "LABEL.WHAT_DIFFERENT" | translate }}
    </div>
    <div class="content" data-aos="fade-up" data-aos-delay="1000">
      {{ "LABEL.WHAT_DIFFERENT_CONTENT" | translate }}
    </div>
    <div class="items-list-about">
      <div
        class="item"
        *ngFor="let item of whatDifferentItems; let i = index"
        data-aos="fade-up"
        [attr.data-aos-delay]="1200 + i * 100"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
        <div class="title">{{ item.title | translate }}</div>
        <div class="content">{{ item.content | translate }}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down" data-aos-delay="1700">
      {{ "LABEL.OUR_VALUES" | translate }}
    </div>
    <div class="items-list-about">
      <div
        class="item"
        *ngFor="let item of ourValuesItems; let i = index"
        data-aos="fade-up"
        [attr.data-aos-delay]="1900 + i * 100"
      >
        <fa-icon [icon]="item.icon"></fa-icon>
        <div class="title">{{ item.title | translate }}</div>
        <div class="content">{{ item.content | translate }}</div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="subject" data-aos="fade-down" data-aos-delay="2400">
      {{ "LABEL.LOOKING_AHEAD" | translate }}
    </div>
    <div class="content" data-aos="fade-up" data-aos-delay="2600">
      {{ "LABEL.LOOKING_AHEAD_CONTENT" | translate }}
    </div>
  </div>
</div>
