<div
  *ngIf="currentMaterials() === 'Video' && viewingMaterial"
  class="video-material"
>
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon> Back
  </div>
  <app-video
    *ngIf="viewingMaterial.video"
    [sources]="[
      {
        url: viewingMaterial.video.urlMaterial,
        label: ''
      }
    ]"
    (progressChange)="trackVideoProgress($event)"
    (onLoad)="handleVideoLoaded($event)"
  ></app-video>

  <div class="material-name">{{ viewingMaterial.title }}</div>
  <div class="material-description" style="margin-bottom: 15px">{{ viewingMaterial.description }}</div>

  <app-button
    [style]="{ width: '100%' }"
    type="primary"
    (click)="triggerFinish()"
    *ngIf="isFinished"
    >{{ "BUTTON.CONTINUE" | translate }}</app-button
  >
</div>

<!-- Document -->
<div
  *ngIf="currentMaterials() === 'Document' && viewingMaterial"
  class="document-material"
>
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon> Back
  </div>

  <div class="material-name">{{ viewingMaterial.title }}</div>
  <div class="material-description">{{ viewingMaterial.description }}</div>

  <div
    class="editor-loader-wrapper"
    [innerHTML]="viewingMaterial.content"
  ></div>

  <app-button
    [style]="{ width: '100%' }"
    type="primary"
    (click)="triggerFinish()"
    *ngIf="isFinished"
    >{{ "BUTTON.CONTINUE" | translate }}</app-button
  >
</div>

<!-- Quiz -->
<div
  *ngIf="currentMaterials() === 'Quiz' && viewingMaterial"
  class="quiz-material"
>
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon> Back
  </div>

  <div class="material-name">{{ viewingMaterial.title }}</div>
  <div class="material-description">{{ viewingMaterial.description }}</div>

  <!--  -->
  @if(quizResult) {
  <div class="quiz-infos">
    <div class="info-title">{{ "LABEL.RESULT" | translate }}:</div>
    <div style="color: var(--primary-text); font-size: 13px">
      - {{ "LABEL.CORRECT" | translate }}: {{ quizResult.correctAnswers }} ({{
        quizResult.percentage
      }}%)
    </div>
    <div style="font-size: 13px; color: var(--primary-text)">
      - {{ "LABEL.STATUS" | translate }}:
      <b
        [ngStyle]="{
          color: quizResult.isPassed ? 'var(--success)' : 'var(--alert)',
          fontWeight: 600
        }"
        >{{
          (quizResult.isPassed ? "LABEL.PASSED" : "LABEL.FAILED") | translate
        }}</b
      >
    </div>
    <div style="color: var(--primary-text); font-size: 13px">
      - {{ "LABEL.TOTAL_TIME" | translate }}:
      {{ "SIGNATURE.MINUTES" | translate : { value: quizResult.totalTime } }}
    </div>
    <app-button
      (click)="quizResult.isPassed ? onTriggerFinishQuiz() : onRetryQuiz()"
      [style]="{ width: '100%' }"
      type="primary"
      >{{
        (!quizResult.isPassed ? "BUTTON.RETRY" : "BUTTON.CONTINUE") | translate
      }}</app-button
    >
  </div>
  } @else if(!isQuizStarted) {
  <div class="info-title">{{ "LABEL.QUIZ_INFO" | translate }}</div>
  <div class="quiz-infos">
    <div>
      -
      {{
        "LABEL.OVER_PERCENTAGES"
          | translate : { value: viewingMaterial.quiz?.passingPercentage }
      }}
    </div>
    <div>
      -
      {{
        "LABEL.MAX_MINUTE"
          | translate : { value: viewingMaterial.quiz?.timeLimit }
      }}
    </div>
    <div>
      -
      {{
        "LABEL.QUESTIONS_COUNT"
          | translate : { value: viewingMaterial.quiz?.questions?.length }
      }}
    </div>
  </div>

  <app-button
    (click)="onStartQuiz()"
    [style]="{ width: '100%' }"
    type="primary"
    >{{ "BUTTON.START_QUIZ" | translate }}</app-button
  >
  <!--  -->
  } @else {
  <div *ngIf="!isNoTimeLimit" class="countdown">
    {{ convertTimeToCountdown() }}
  </div>
  <div
    class="question-ctn"
    *ngFor="let question of viewingMaterial.quiz?.questions; let i = index"
  >
    <div class="question">{{ i + 1 }}. {{ question.questionTitle }}</div>
    <div
      class="answer"
      *ngFor="let answer of question.options; let z = index"
      (click)="onSelectAnswer(question.id, answer.id)"
    >
      <fa-icon
        [icon]="circleIcon"
        [ngStyle]="{
          color: onCheckIsAnswerSelected(question.id, answer.id)
            ? 'var(--brand-light)'
            : 'var(--tertiary-text)'
        }"
      ></fa-icon>
      <b>{{ getQuestionAlphabet(z) }}.</b> {{ answer.answerContent }}
    </div>
  </div>

  <app-button
    (click)="handleSubmitQuiz()"
    [style]="{ width: '100%' }"
    type="primary"
    >{{ "BUTTON.SUBMIT" | translate }}</app-button
  >
  }
  <!--  -->
</div>

<!-- Assignment -->
<div
  *ngIf="currentMaterials() === 'Assignment' && viewingMaterial"
  class="quiz-material"
>
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon> Back
  </div>

  <div class="material-name">{{ viewingMaterial.title }}</div>
  <div class="material-description">{{ viewingMaterial.description }}</div>

  <div class="assignment-question">
    {{ viewingMaterial.assignment?.question }}
  </div>

  @if(!answeredAssignment) {

  <app-text-editor
    #textEditor
    [htmlContent]="assignmentContent"
  ></app-text-editor>

  <div *ngIf="!isNoTimeLimit" class="countdown">
    {{ convertTimeToCountdown() }}
  </div>

  <app-button
    [style]="{ width: '100%' }"
    type="primary"
    (click)="onSubmitAssignment()"
    >{{ "BUTTON.SUBMIT" | translate }}</app-button
  >
  } @else {
  <div class="info-title">{{ "LABEL.YOUR_RESULT" | translate }}</div>
  <div class="quiz-infos">
    <div>
      -
      {{
        answeredAssignment.answerScore !== -1
          ? ("LABEL.SCORE"
            | translate : { value: answeredAssignment.answerScore })
          : ("LABEL.UNMARK" | translate)
      }}
    </div>
    <div>
      -
      {{
        "SIGNATURE.MINUTES"
          | translate : { value: answeredAssignment.toTalTime }
      }}
    </div>
  </div>
  <div
    style="margin-top: 12px"
    class="editor-loader-wrapper"
    [innerHTML]="answeredAssignment.answerContent"
  ></div>

  <app-button
    [style]="{ width: '100%' }"
    type="primary"
    (click)="triggerFinish()"
    >{{ "BUTTON.CONTINUE" | translate }}</app-button
  >
  }
</div>
