.button-component {
  padding: 7px 10px;
  outline: none;
  color: var(--secondary-text);
  border: 1px solid var(--secondary-text);
  background: transparent;
  border-radius: 10px;
  transition: all 0.1s linear;
  cursor: pointer;

  &:hover {
    color: var(--brand);
    border: 1px solid var(--brand);
    // color: var(--primary-text);
  }

  &.primary {
    color: var(--brand);
    background: var(--brand-01);
    border: 1px solid var(--brand-01);

    &:hover {
      background: var(--brand-02);
    }
  }

  &.danger {
    color: var(--primary-text);
    background: var(--alert);
    border: 1px solid var(--alert);

    &:hover {
      background: var(--error);
    }
  }
}
