<div class="material-ctn" *ngIf="materials">
  <div class="header">
    <div class="title text-gradient">
      {{ "LABEL.DOCUMENT_MATERIAL" | translate }}
    </div>
    <app-button [style]="{ display: 'flex', gap: '4px' }" (click)="onCreate()"
      ><fa-icon [icon]="addIcon"></fa-icon
      >{{ "BUTTON.ADD_QUIZ" | translate }}</app-button
    >
  </div>

  <div class="material-items-ctn">
    <div class="material-row" *ngFor="let material of materials.quiz.items">
      <div class="info">
        <div class="name">{{ material.title }}</div>
        <div class="description">{{ material.description }}</div>
        <div class="add-on">
          <!-- <fa-icon [icon]="checkIcon"></fa-icon> -->
          <div class="duration">
            {{ "LABEL.OVER_PERCENTAGES" | translate : { value: material.passingPercentage} }}
          </div>
        </div>
        <div class="add-on">
          <fa-icon [icon]="clockIcon"></fa-icon>
          <div class="duration">
            {{ "LABEL.MINUTES" | translate : { value: material.timeLimit} }}
          </div>
        </div>
        <div class="add-on">
          <fa-icon [icon]="questionIcon"></fa-icon>
          <div class="duration">
            {{
              "LABEL.QUESTIONS_COUNT"
                | translate : { value: material.questionCount }
            }}
          </div>
        </div>
      </div>
      <div class="btn-ctn">
        <fa-icon
          (click)="onEdit($event, material.id)"
          class="edit"
          [icon]="editIcon"
        ></fa-icon>
        <fa-icon
          (click)="onDelete($event, material.id)"
          class="delete"
          [icon]="deleteIcon"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
