<div class="animated" *ngIf="isShowChest">
  <app-chest-3d (onFinished)="isShowChest = false"></app-chest-3d>
</div>

<div class="animated level-ctn" *ngIf="isShowAddedExp">
  <div class="title" data-aos="fade-up">{{ "LABEL.CONGRATULATION" | translate }}</div>
  <div class="description" data-aos="fade-up" data-aos-delay="100">
    {{ "LABEL.YOU_HAVE_COMPLETED_THE_LESSON_MATERIAL" | translate }}
  </div>

  <div class="progress" data-aos="fade" data-aos-delay="400">
    <div class="progress-bar-ctn">
      <div class="level">{{ "LABEL.LEVEL" | translate : { level: 1 } }}</div>
      <div
        class="progress-bar text-gradient"
        [ngStyle]="{ width: 30 + addedExp + '%' }"
      ></div>
    </div>
    <div class="exp-gain">+ 30 Exp</div>
  </div>
</div>

<app-studying-material
  *ngIf="viewingMaterial"
  [viewingMaterial]="viewingMaterial"
  [courseDetails]="courseDetails"
  (onFinish)="onNextMaterial($event)"
  (onHandleShardAndLevelAnimation)="onHandleShardAndLevelAnimation($event)"
></app-studying-material>

<div class="stage-ctn" @fadeInOut *ngIf="!viewingMaterial">
  <div class="option">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + menu.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of menu; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action($event)"
      >
        <fa-icon *ngIf="opt.icon" [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="course-name">{{ courseDetails.title }}</div>
  <div class="current-stage">
    {{ "LABEL.STAGE_COUNT" | translate : { value: currentLesson + 1 } }}:
    {{ courseDetails.listLesson[currentLesson].name }}
  </div>

  <div class="btn-ctn">
    <div
      class="btn prev"
      *ngIf="currentLesson > 0"
      (click)="updateCurrentStage(-1)"
    >
      <fa-icon [icon]="prevIcon"></fa-icon>
      <div class="content">{{ "LABEL.PREVIOUS_STAGE" | translate }}</div>
    </div>
    <div
      class="btn next"
      *ngIf="currentLesson < totalLessons - 1"
      (click)="updateCurrentStage(1)"
    >
      <div class="content">{{ "LABEL.NEXT_STAGE" | translate }}</div>
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>

  <div class="stage-items-ctn">
    <div class="stage-row" *ngFor="let row of rows; let rowIdx = index">
      <div
        class="connect-line-horizontal"
        [ngStyle]="{ width: 'calc(' + (getRowLength(row) - 1) + '* 100%/4)' }"
        *ngIf="row.length > 1"
      ></div>
      <div
        [ngStyle]="{
          display: rowIdx === rows.length - 1 ? 'none' : 'absolute'
        }"
        class="vertical-connect-line"
      ></div>
      <div
        class="stage-item-wrapper"
        *ngFor="let material of row; let i = index"
      >
        @if(!material) {
        <div class="blank-item"></div>
        } @else {
        <div
          class="stage-item"
          [ngClass]="material.class"
          (click)="handleLessonClick(material)"
        >
          <div class="you-are-here">{{ "LABEL.YOU_ARE_HERE" | translate }}</div>
          <div class="stage-surface">
            <fa-icon [icon]="material.icon"></fa-icon>
          </div>
          <div class="stage-body"></div>
          <div class="stage-item-info">
            <div class="title">{{ material.title }}</div>
            <div class="type">
              {{ "LABEL.MISSION_TYPE" | translate : { value: material.type } }}
            </div>
            <div class="type">
              <fa-icon [icon]="clockIcon"></fa-icon
              >{{
                "LABEL.MINUTES"
                  | translate : { value: round(material.duration) }
              }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="blur-circle" data-aos="zoom-out"></div>
</div>

<ng-template #courseInfo>
  <app-minify-course-info
    [courseDetails]="courseDetails"
  ></app-minify-course-info>
</ng-template>

<ng-template #courseReviews>
  <app-minify-course-review
    [courseDetails]="courseDetails"
  ></app-minify-course-review>
</ng-template>
