.animated {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--mask-bg);
  transition: all 0.3s ease-in-out;
}

.level-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  .title {
    font-size: 28px;
    font-weight: 500;
    color: var(--brand-focused);
  }

  .description {
    font-size: 15px;
    color: var(--secondary-text);
    margin-bottom: 18px;
  }

  .progress {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;

    .exp-gain {
      text-align: right;
      font-size: 14px;
      color: var(--success);
    }

    .progress-bar-ctn {
      height: 18px;
      width: 100%;
      border-radius: 12px;
      overflow: hidden;
      background: var(--tertiary-bg);
      position: relative;

      .level {
        font-size: 14px;
        color: var(--secondary-text);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1000;
      }

      .progress-bar {
        height: 100%;
        width: 100%;
        background: linear-gradient(
          to right,
          var(--brand-hover),
          var(--brand-focused)
        );
        position: relative;
        overflow: hidden;
        transition: all 0.25s ease-in-out;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -150%;
          width: 150%;
          height: 100%;
          background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.55),
            transparent
          );
          animation: glowing 2.5s infinite;
          pointer-events: none;
        }
      }
    }
  }
}

.stage-ctn {
  padding: 40px 20vw;
  width: 100%;
  min-height: 68vh;
  box-sizing: border-box;
  position: relative;

  .course-name {
    font-weight: 500;
    font-size: 13px;
    color: var(--secondary-text);
  }

  .current-stage {
    margin-top: 2px;
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-text);
  }

  .btn-ctn {
    display: flex;
    position: relative;
    margin-top: 40px;
    user-select: none;

    .btn {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 15px;
      color: var(--secondary-text);
      cursor: pointer;
      transition: all 0.1s linear;

      &.next {
        right: 0;
      }

      &.prev {
        left: 0;
      }

      &:hover {
        color: var(--brand);
      }

      fa-icon {
        font-size: 18px;
      }

      .content {
        padding-bottom: 4px;
      }
    }
  }

  .stage-items-ctn {
    margin-top: 60px;
    gap: 10px;

    .stage-row {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;

      .connect-line-horizontal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 100% / 4);
        height: 2px;
        // border-bottom: 2px dashed var(--disabled-text);
        z-index: 0;
      }

      .vertical-connect-line {
        position: absolute;
        right: 0;
        top: 50%;
        width: 2px;
        transform: translateX(-50%);
        height: calc(90px + 70px);
        // border-right: 2px dashed var(--disabled-text);
        z-index: 0;
        margin: 0 calc(100% / 8);
      }

      &:nth-child(2) {
        flex-direction: row-reverse;

        .connect-line-horizontal {
          left: unset;
          transform: translateX(0) !important;
          right: calc(100% / 8);
        }

        .vertical-connect-line {
          right: unset;
          left: 0;
        }
      }

      .stage-item-wrapper {
        width: calc(100% / 4);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .stage-item {
        position: relative;
        height: 90px;
        width: 90px;
        cursor: pointer;

        .you-are-here {
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          height: 30px;
          background: var(--quaternary-bg);
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          animation: hovering 1.5s ease-out infinite;

          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid var(--quaternary-bg);
          }
        }

        fa-icon {
          color: #ffffff;
        }

        .stage-surface {
          top: 0;
          position: absolute;
          background: var(--stage-surface-current);
          height: 80%;
          width: 80%;
          border-radius: 50%;
          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 26px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          filter: drop-shadow(0 0 4px var(--stage-shadow));
          z-index: 4;
        }

        .stage-body {
          position: absolute;
          background: var(--stage-body-current);
          height: 100%;
          width: 100%;
          border-radius: 50%;
          z-index: 3;
        }

        &.locked {
          cursor: not-allowed;
          .stage-surface {
            background: var(--stage-surface-locked);

            fa-icon {
              color: var(--alert);
            }
          }

          .stage-body {
            background: var(--stage-body-locked);
          }

          .you-are-here {
            display: none;
          }
        }

        &.done {
          .stage-surface {
            background: var(--stage-surface-done);
          }

          .stage-body {
            background: var(--stage-body-done);
          }

          .you-are-here {
            display: none;
          }
        }

        .stage-item-info {
          position: absolute;
          top: calc(100% + 5px);
          left: 50%;
          transform: translateX(-50%);
          min-width: 300px;
          // height: 150px;
          background: var(--secondary-bg);
          border: 1px solid var(--tertiary-text);
          border-radius: 12px;
          display: none;
          animation: fadeIn 0.15s ease-out;
          z-index: 5;
          padding: 12px;
          box-sizing: border-box;

          .title {
            font-size: 14px;
            font-weight: 500;
          }

          .type {
            font-size: 12px;
            margin-top: 5px;
            color: var(--secondary-text);

            fa-icon {
              color: var(--secondary-text);
              margin-right: 3px;
              font-size: 11px;
            }
          }
        }

        &:hover > .stage-item-info {
          display: block;
        }
      }
    }
  }

  .blur-circle {
    position: fixed;
    width: 30%;
    height: 35%;
    background: var(--brand-02);
    filter: blur(100px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: circleAnimation 12s infinite alternate
      cubic-bezier(0.42, 0, 0.58, 1);
  }

  .option {
    position: absolute;
    right: 20vw;
    top: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    padding: 4px 0;
    box-sizing: border-box;

    &:hover {
      & > .option-item {
        background: var(--secondary-text);
      }

      & > .drop-down {
        display: flex;
      }
    }

    .option-item {
      background: var(--tertiary-text);
      height: 4px;
      width: 4px;
      border-radius: 50%;
      transition: all 0.12s linear;
    }

    .drop-down {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
      background: var(--tertiary-bg);
      border: 1px solid var(--brand-05);
      padding: 8px 0;
      border-radius: 8px;
      box-sizing: border-box;
      z-index: 5;
      width: 167px;
      // height: 123px;
      animation: fadeIn 0.12s linear;

      &:hover {
        display: block;
      }

      .option {
        display: none;
        position: absolute;
        width: 156px;
        padding: 0 8px;
        border-radius: 8px;
        box-sizing: border-box;
        height: 28px;
        left: 4px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        transition: all 0.12s linear;

        &:hover {
          background: var(--brand-05);
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hovering {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -6px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes circleAnimation {
  0% {
    top: 50%;
    left: 50%;
  }
  30% {
    top: 35%;
    left: 75%;
  }
  45% {
    top: 60%;
    left: 82%;
  }
  60% {
    top: 70%;
    left: 30%;
  }
  75% {
    top: 70%;
    left: 70%;
  }
  90% {
    top: 40%;
    left: 35%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
