<app-studying-material
  *ngIf="viewingMaterial"
  [viewingMaterial]="viewingMaterial"
  [courseDetails]="courseDetails"
  (onFinish)="onNextMaterial($event)"
></app-studying-material>

<div class="stage-ctn" @fadeInOut *ngIf="!viewingMaterial">
  <div class="course-name">{{ courseDetails.title }}</div>
  <div class="current-stage">
    {{ "LABEL.STAGE_COUNT" | translate : { value: currentLesson } }}:
    {{ courseDetails.listLesson[currentLesson - 1].name }}
  </div>

  <div class="btn-ctn">
    <div
      class="btn prev"
      *ngIf="currentLesson > 1"
      (click)="updateCurrentStage(-1)"
    >
      <fa-icon [icon]="prevIcon"></fa-icon>
      <div class="content">{{ "LABEL.PREVIOUS_STAGE" | translate }}</div>
    </div>
    <div
      class="btn next"
      *ngIf="currentLesson < totalLessons"
      (click)="updateCurrentStage(1)"
    >
      <div class="content">{{ "LABEL.NEXT_STAGE" | translate }}</div>
      <fa-icon [icon]="nextIcon"></fa-icon>
    </div>
  </div>

  <div class="stage-items-ctn">
    <div class="stage-row" *ngFor="let row of rows; let rowIdx = index">
      <div
        class="connect-line-horizontal"
        [ngStyle]="{ width: 'calc(' + (getRowLength(row) - 1) + '* 100%/4)' }"
        *ngIf="row.length > 1"
      ></div>
      <div
        [ngStyle]="{
          display: rowIdx === rows.length - 1 ? 'none' : 'absolute'
        }"
        class="vertical-connect-line"
      ></div>
      <div
        class="stage-item-wrapper"
        *ngFor="let material of row; let i = index"
      >
        @if(!material) {
        <div class="blank-item"></div>
        } @else {
        <div class="stage-item" [ngClass]="material.class" (click)="handleLessonClick(material)">
          <div class="you-are-here">{{ "LABEL.YOU_ARE_HERE" | translate }}</div>
          <div class="stage-surface">
            <fa-icon [icon]="material.icon"></fa-icon>
          </div>
          <div class="stage-body"></div>
          <div class="stage-item-info">
            <div class="title">{{ material.title }}</div>
            <div class="type">
              {{ "LABEL.MISSION_TYPE" | translate : { value: material.type } }}
            </div>
            <div class="type">
              <fa-icon [icon]="clockIcon"></fa-icon
              >{{ "LABEL.MINUTES" | translate : { value: round(material.duration) } }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="blur-circle" data-aos="zoom-out"></div>
</div>
