.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px - 50px);

  .title {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
  }

  .sub-title {
    margin-top: 25px;
    font-size: 15px;
    color: var(--secondary-text);
  }

  .btn-ctn {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }

  

}
