.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px - 50px);

  .title {
    font-weight: 600;
    font-size: 45px;
    text-align: center;
  }

  .sub-title {
    margin-top: 25px;
    font-size: 15px;
    color: var(--secondary-text);
  }

  .btn-ctn {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }

  .blur-circle {
    position: absolute;
    width: 30%;
    height: 35%;
    background: var(--brand-02);
    filter: blur(100px);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: circleAnimation 12s infinite alternate
      cubic-bezier(0.42, 0, 0.58, 1);
  }

}

@keyframes circleAnimation {
  0% {
    top: 50%;
    left: 50%;
  }
  30% {
    top: 35%;
    left: 75%;
  }
  45% {
    top: 60%;
    left: 82%;
  }
  60% {
    top: 70%;
    left: 30%;
  }
  75% {
    top: 70%;
    left: 70%;
  }
  90% {
    top: 40%;
    left: 35%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
