<div class="path-item" (click)="onViewDetails()">
  <div class="option">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + menu.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of menu; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action($event)"
      >
        <fa-icon *ngIf="opt.icon" [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="item-name">{{ path.name }}</div>
  <div class="created-by">
    {{ "LABEL.CREATED_BY" | translate : { value: path.createdBy.username } }}
  </div>

  <div class="others-info">
    <div>
      {{ "SIGNATURE.MINUTES" | translate : { value: path.totalTime } }}
    </div>
    <div>·</div>
    <div>
      {{ "LABEL.COURSES_COUNT" | translate : { value: path.totalCourses } }}
    </div>
    <div>·</div>
    <div>
      {{ "LABEL.TOTAL_ENROLLED" | translate : { value: path.totalEnroller } }}
    </div>
  </div>
  <div class="description">
    {{ path.description.trim() === "" ? "-" : path.description }}
  </div>

  <i
    style="
      color: var(--brand-light);
      text-align: center;
      padding: 12px 0;
      box-sizing: border-box;
      display: block;
      width: 100%;
    "
    *ngIf="path.isEnrolled"
  >
    {{ "LABEL.ENROLLED" | translate }}
  </i>
  <app-button
    type="primary"
    (click)="onEnroll($event)"
    [ngStyle]="{ width: '100%' }"
    [style]="{
      'margin-top': '8px',
      width: '100%'
    }"
    *ngIf="!isViewExpert && !path.isEnrolled"
  >
    {{ "LABEL.ENROLL" | translate }}
  </app-button>
</div>
