<div class="home" @fadeInOut>
  <ng-container [ngTemplateOutlet]="notSignIn"></ng-container>
</div>

<ng-template #signedIn>
  <app-home-statistics></app-home-statistics>
  <app-home-studying></app-home-studying>
  <app-home-suggested></app-home-suggested>
  <app-home-achievements></app-home-achievements>
</ng-template>

<ng-template #notSignIn>
  <app-home-hero></app-home-hero>
  <app-home-show-off></app-home-show-off>
  <app-home-why-choose-us></app-home-why-choose-us>
  <app-home-trending-courses></app-home-trending-courses>
  <app-home-web-numeric></app-home-web-numeric>
</ng-template>
