<div class="home" @fadeInOut>
  <ng-container [ngTemplateOutlet]="user ? signedIn : notSignIn"></ng-container>
</div>

<ng-template #signedIn>
  @if(user && user.roleId === 2) { 
    
  } @else {

  <app-home-statistics></app-home-statistics>
  <app-home-studying></app-home-studying>
  <app-home-suggested></app-home-suggested>
  <app-home-achievements></app-home-achievements>
  }
</ng-template>

<ng-template #notSignIn>
  <div class="blur-circle" data-aos="zoom-out"></div>
  <app-home-hero></app-home-hero>
  <app-home-show-off></app-home-show-off>
  <app-home-why-choose-us></app-home-why-choose-us>
  <app-home-trending-courses></app-home-trending-courses>
  <app-home-web-numeric></app-home-web-numeric>
</ng-template>
