<div class="home" @fadeInOut>
  <ng-container
    *ngIf="currentRef"
    [ngTemplateOutlet]="currentRef"
  ></ng-container>
</div>

<ng-template #signedIn> </ng-template>

<ng-template #notSignIn>
  <div class="blur-circle" data-aos="zoom-out"></div>
  <app-home-hero></app-home-hero>
  <app-home-show-off></app-home-show-off>
  <app-home-why-choose-us></app-home-why-choose-us>
  <app-home-trending-courses></app-home-trending-courses>
  <app-home-web-numeric></app-home-web-numeric>
</ng-template>

<ng-template #leaner>
  <app-home-statistics></app-home-statistics>
  <app-home-studying></app-home-studying>
  <app-home-suggested></app-home-suggested>
  <app-home-achievements></app-home-achievements>
</ng-template>

<ng-template #instructor>
  <app-home-instructor-summary></app-home-instructor-summary>
  <app-home-ins-others></app-home-ins-others>
</ng-template>

<ng-template #staff>
  <div class="title text-gradient">{{ "LABEL.DASHBOARD" | translate }}</div>
  <app-home-staff-user></app-home-staff-user>
  <app-home-overview></app-home-overview>
</ng-template>

<ng-template #admin>
  <div class="title text-gradient">{{ "LABEL.DASHBOARD" | translate }}</div>
  <app-home-staff-user></app-home-staff-user>
  <app-home-overview></app-home-overview>
</ng-template>
