<div class="create-document">
  <div class="title text-gradient">{{ "LABEL.DOCUMENTS" | translate }}</div>

  <div class="input-label">{{ "LABEL.MATERIAL_NAME" | translate }}</div>
  <input
    class="material-input material-name"
    [placeholder]="'LABEL.MATERIAL_NAME' | translate"
    [(ngModel)]="material.title"
  />

  <div class="input-label">{{ "LABEL.MATERIAL_DESCRIPTION" | translate }}</div>
  <textarea
    class="material-input material-description"
    [placeholder]="'LABEL.MATERIAL_DESCRIPTION' | translate"
    [(ngModel)]="material.description"
    rows="4"
  ></textarea>

  <app-text-editor *ngIf="material.content" #textEditor [htmlContent]="material.content" ></app-text-editor>

  <div class="btn-ctn">
    <app-button [style]="{ width: '100%' }" (click)="onCancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </app-button>
    <app-button
      [style]="{ width: '100%' }"
      (click)="isEdit ? onUpdate() : onCreate()"
      type="primary"
      >{{
        (isEdit ? "BUTTON.UPDATE_MATERIAL" : "BUTTON.CREATE_MATERIAL")
          | translate
      }}</app-button
    >
</div>
