.create-document {
  padding: 35px 15vw;
  box-sizing: border-box;

  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 18px;
  }

  .input-label {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  .input-label-sub {
    color: var(--secondary-text);
  }

  .material-input {
    font-size: 13px;
    margin-top: 4px;
    width: 100%;
    display: block;
    background: var(--tertiary-bg);
    border: none;
    outline: none;
    color: var(--primary-text);
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;

    &.material-description {
      resize: none;
      font-size: 12px;
    }
  }

  .btn-ctn {
    margin-top: 45px;
    display: flex;
    gap: 8px;

    app-button {
      width: 100%;
    }
  }
}
