.create-document {
  padding: 35px 15vw;
  box-sizing: border-box;

  .title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 18px;
  }

  .btn-ctn {
    margin-top: 45px;
    display: flex;
    gap: 8px;

    app-button {
      width: 100%;
    }
  }
}
