<div class="course-details-explore" @fadeInOut *ngIf="course">
  <div class="back" (click)="onBack()">
    <fa-icon [icon]="backIcon"></fa-icon>{{ "BUTTON.BACK" | translate }}
  </div>

  <div class="option">
    <div class="option-item"></div>
    <div class="option-item"></div>
    <div class="option-item"></div>

    <div
      class="drop-down"
      [ngStyle]="{
        height: 11 + menu.length * 28 + 'px'
      }"
    >
      <div
        class="option"
        *ngFor="let opt of menu; let i = index"
        [ngStyle]="{
          top: 5 + i * 28 + 'px'
        }"
        (click)="opt.action($event)"
      >
        <fa-icon [icon]="opt.icon"></fa-icon>
        {{ opt.label | translate }}
      </div>
    </div>
  </div>

  <div class="course-name">{{ course.title }}</div>

  <div class="hashtag">
    <div class="tag" *ngFor="let tag of course.listTag || []">
      #{{ tag.name }}
    </div>
  </div>

  <div class="course-description">{{ course.description }}</div>

  <div class="instructor-info">
    <app-avatar-by-name name="Khang" size="40px"></app-avatar-by-name>
    <div class="info">
      <div class="name">{{course.author.username}}</div>
      <div class="bio">{{course.author.headline}}</div>
    </div>
  </div>

  <div class="label">{{ "LABEL.REQUIREMENTS" | translate }}</div>
  <div class="reqs">
    <div class="req" *ngFor="let req of course.requirementList">
      <fa-icon [icon]="reqIcon"></fa-icon>{{ req }}
    </div>
  </div>

  <div class="label" style="margin-bottom: 8px">
    {{ "LABEL.MATERIALS" | translate }}
  </div>
  <app-table
    [ngStyle]="{ cursor: 'pointer' }"
    [data]="materialsData"
    [columns]="tableColumns"
  ></app-table>
</div>

<ng-template #dropdownLearningPath>
  <div style="width: 300px">
    <div style="font-size: 14px">{{ "LABEL.LEARNING_PATH" | translate }}</div>
    <div style="font-size: 12px; color: var(--secondary-text); margin-top: 2px; margin-top: 24px">
      {{ "LABEL.SELECT_LEARNING_PATH" | translate }}
    </div>

    <div style="margin-top: 8px; display: flex; gap: 8px; flex-direction: column;">
      <div
        *ngIf="!myLearningPaths.length"
        style="font-size: 11px; color: var(--secondary-text)"
      >
        {{ "LABEL.NO_LEARNING_PATH" | translate }}
      </div>
      <div *ngFor="let path of myLearningPaths" (click)="onAddCourseTolearningPath(path.id)" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="font-size: 12px; cursor: pointer;">{{ path?.name ?? '' }} ({{'LABEL.COURSES_COUNT' | translate:{value: path?.totalCourses ?? 0} }})</div>
        <i style="font-size: 10px; color: var(--secondary-text)" *ngIf="isCourseExistedInPath(path.id)">{{'LABEL.ADDED' | translate}}</i>
      </div>
    </div>

    <div class="divider"></div>
    <div style="display: flex; gap: 4px">
      <input [(ngModel)]="newLearningPathName" class="formated-input" placeholder="{{'LABEL.NEW_LEARNING_PATH_NAME' | translate}}" style="width: 80%; height: 29px" />
      <app-button (click)="onAddNewLearningPath()" type="primary">Add</app-button>
    </div>
  </div>
</ng-template>
