.revenue-break-down {
    margin-top: 40px;

    .label {
        font-weight: 500;
        font-size: 16px;
    }
    .sub-label {
        margin-bottom: 8px;
        color: var(--secondary-text);
        font-size: 12px;
    }
}