<div class="manage-course">
  <div class="image-wrapper">
    <div
      class="image-drop-zone"
      [ngClass]="{
        dragOver: isDragOverImgInput
      }"
      (click)="onClickAddImage()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <div
        class="instruction"
        *ngIf="uploadProgress === null && courseInfo.image === ''"
      >
        <input
          type="file"
          (change)="onFileSelected($event)"
          #fileInput
          hidden
        />
        <fa-icon [icon]="cameraIcon"></fa-icon>
        <label>{{ "MESSAGE.DROP_IMAGE_ADD_THUMBNAIL" | translate }}</label>
      </div>

      <img
        [src]="courseInfo.image"
        class="thumbnail"
        *ngIf="courseInfo.image !== ''"
      />

      <div class="progress" *ngIf="uploadProgress !== null">
        <div
          class="running-progress"
          [ngStyle]="{
            width: uploadProgress + '%'
          }"
        ></div>
        <div class="label-progress">{{ uploadProgress }}%</div>
      </div>

      <app-button
        (click)="onRemoveImage($event)"
        class="remove-image-btn"
        type="danger"
        *ngIf="courseInfo.image !== ''"
        >{{ "BUTTON.REMOVE_IMAGE" | translate }}</app-button
      >
    </div>
  </div>

  <div class="input-label">{{ "LABEL.COURSE_NAME" | translate }}</div>
  <input
    class="course-input course-name"
    [placeholder]="'LABEL.COURSE_NAME' | translate"
    [(ngModel)]="courseInfo.name"
  />

  <div class="input-label">{{ "LABEL.COURSE_DESCRIPTION" | translate }}</div>
  <textarea
    class="course-input course-description"
    [placeholder]="'LABEL.COURSE_DESCRIPTION' | translate"
    rows="6"
    [(ngModel)]="courseInfo.description"
  ></textarea>

  <div class="input-label">{{ "LABEL.COURSE_REQUIREMENTS" | translate }}</div>
  <div
    class="req-row"
    *ngFor="
      let req of courseInfo.requirements;
      let i = index;
      trackBy: RequirementTrackIdx
    "
  >
    <input
      class="course-input"
      [placeholder]="('LABEL.REQUIREMENTS' | translate) + ' ' + (i + 1)"
      [(ngModel)]="courseInfo.requirements[i]"
    />
    <fa-icon (click)="onRemoveRequirement(i)" [icon]="removeIcon"></fa-icon>
  </div>

  <app-button
    [style]="{ marginTop: '5px', border: 'none' }"
    (click)="onAddRequirement()"
  >
    <fa-icon [icon]="addIcon"></fa-icon>
    {{ "BUTTON.ADD_REQUIREMENTS" | translate }}</app-button
  >

  <div class="input-label">{{ "LABEL.COURSE_PRICE" | translate }}</div>
  <div class="req-row">
    <div class="currency">$</div>
    <input
      type="number"
      [min]="0"
      class="course-input money"
      [(ngModel)]="courseInfo.price"
    />
  </div>

  <div class="input-label" *ngIf="isEdit">{{ "LABEL.STAGES" | translate }}</div>
  <div class="stages-ctn" *ngIf="isEdit">
    <div
      class="stage-wrapper"
      *ngFor="
        let stage of fullStagesInfo;
        let i = index;
        trackBy: trackStageChange
      "
      [attr.stageId]="stage.id"
      [attr.draggable]="true"
      (dragstart)="onDragStageStart($event, stage.id)"
      (dragover)="onDragStageOver($event)"
      (drop)="onDropStage($event)"
      [ngStyle]="{
        opacity: currentDragStageId === stage.id ? 0.5 : 1
      }"
    >
      <div class="drag-point">
        <fa-icon [icon]="dragIcon"></fa-icon>
      </div>
      <app-manage-stages
        [index]="i"
        [stage]="stage"
        (onEdit)="onEditStage($event)"
      ></app-manage-stages>
    </div>
  </div>

  <div class="btn-ctn">
    <app-button [style]="{ width: '100%' }" (click)="onCancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </app-button>
    <app-button
      [style]="{ width: '100%' }"
      (click)="isEdit ? onUpdate() : onCreateCourse()"
      type="primary"
      >{{
        (isEdit ? "BUTTON.UPDATE_COURSE" : "BUTTON.CREATE_COURSE") | translate
      }}</app-button
    >
  </div>
</div>
