<div class="manage-course">
  <div class="image-wrapper">
    <div
      class="image-drop-zone"
      [ngClass]="{
        dragOver: isDragOverImgInput
      }"
      (click)="onClickAddImage()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <div
        class="instruction"
        *ngIf="!uploadedFile && courseInfo.photoUrl === ''"
      >
        <input
          type="file"
          (change)="onFileSelected($event)"
          #fileInput
          hidden
        />
        <fa-icon [icon]="cameraIcon"></fa-icon>
        <label>{{ "MESSAGE.DROP_IMAGE_ADD_THUMBNAIL" | translate }}</label>
      </div>

      <img
        [src]="uploadedFile?.url ?? courseInfo.photoUrl"
        class="thumbnail"
        *ngIf="courseInfo.photoUrl !== '' || uploadedFile"
      />

      <app-button
        (click)="onRemoveImage($event)"
        class="remove-image-btn"
        type="danger"
        *ngIf="courseInfo.photoUrl !== '' || uploadedFile"
        >{{ "BUTTON.REMOVE_IMAGE" | translate }}</app-button
      >
    </div>
  </div>

  <div class="input-label">{{ "LABEL.COURSE_CATEGORY" | translate }}</div>
  <div class="category-wrapper">
    <div class="category">
      <div class="label">{{ "LABEL.SUBJECT" | translate }}</div>
      <select (change)="onChangeTag($event)">
        <option [value]="1" [attr.selected]="false"></option>
        <option
          *ngFor="let tag of getTagOptions(true)"
          [value]="tag.id"
          [attr.selected]="checkTagSelected(tag.id) ? true : null"
        >
          {{ tag.name }}
        </option>
      </select>
    </div>

    <div class="category">
      <div class="label">{{ "LABEL.COURSE_LEVEL" | translate }}</div>
      <select (change)="onChangeTag($event)">
        <option [value]="1" [attr.selected]="false"></option>
        <option
          *ngFor="let tag of getTagOptions(false)"
          [value]="tag.id"
          [attr.selected]="checkTagSelected(tag.id) ? true : null"
        >
          {{ tag.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="input-label">{{ "LABEL.COURSE_NAME" | translate }}</div>
  <input
    class="course-input course-name"
    [placeholder]="'LABEL.COURSE_NAME' | translate"
    [(ngModel)]="courseInfo.title"
  />

  <div class="input-label">{{ "LABEL.COURSE_DESCRIPTION" | translate }}</div>
  <textarea
    class="course-input course-description"
    [placeholder]="'LABEL.COURSE_DESCRIPTION' | translate"
    rows="6"
    [(ngModel)]="courseInfo.description"
  ></textarea>

  <div class="input-label">{{ "LABEL.COURSE_REQUIREMENTS" | translate }}</div>
  <div
    class="req-row"
    *ngFor="
      let req of courseInfo.requirementList;
      let i = index;
      trackBy: RequirementTrackIdx
    "
  >
    <input
      class="course-input"
      [placeholder]="('LABEL.REQUIREMENTS' | translate) + ' ' + (i + 1)"
      [(ngModel)]="courseInfo.requirementList[i]"
    />
    <fa-icon (click)="onRemoveRequirement(i)" [icon]="removeIcon"></fa-icon>
  </div>

  <app-button
    [style]="{ marginTop: '5px', border: 'none' }"
    (click)="onAddRequirement()"
  >
    <fa-icon [icon]="addIcon"></fa-icon>
    {{ "BUTTON.ADD_REQUIREMENTS" | translate }}</app-button
  >

  <div class="input-label">{{ "LABEL.COURSE_PRICE" | translate }}</div>
  <div class="req-row">
    <div class="currency">$</div>
    <input
      type="number"
      [min]="0"
      class="course-input money"
      [(ngModel)]="courseInfo.price"
    />
  </div>

  <div class="input-label" *ngIf="isEdit">{{ "LABEL.STAGES" | translate }}</div>
  <div class="stages-ctn" *ngIf="isEdit">
    <div
      class="stage-wrapper"
      *ngFor="
        let lesson of fullLessons;
        let i = index;
        trackBy: trackStageChange
      "
      [attr.stageId]="lesson.id"
      [attr.draggable]="true"
      (dragstart)="onDragStageStart($event, lesson.id)"
      (dragover)="onDragStageOver($event)"
      (drop)="onDropStage($event)"
      [ngStyle]="{
        opacity: currentDragStageId === lesson.id ? 0.5 : 1
      }"
    >
      <div class="drag-point">
        <fa-icon [icon]="dragIcon"></fa-icon>
      </div>
      <app-manage-stages
        [index]="i"
        [stage]="lesson"
        (onEdit)="onEditLesson($event)"
        [exemptLessons]="fullLessons"
      ></app-manage-stages>
    </div>
    <div class="add-stage" (click)="onAddNewStage()">
      <fa-icon [icon]="addIcon"></fa-icon>{{ "LABEL.ADD_STAGE" | translate }}
    </div>
  </div>

  <div class="btn-ctn">
    <app-button [style]="{ width: '100%' }" (click)="onCancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </app-button>
    <app-button
      [style]="{ width: '100%' }"
      (click)="isEdit ? onUpdate() : onCreateCourse()"
      type="primary"
      >{{
        (isEdit ? "BUTTON.UPDATE_COURSE" : "BUTTON.CREATE_COURSE") | translate
      }}</app-button
    >
  </div>
</div>
