.manage-course {
  padding: 35px 20vw;
  box-sizing: border-box;
  position: relative;

  .image-wrapper {
    // padding: 0 15%;
    box-sizing: border-box;

    .image-drop-zone {
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
      border: 1px dashed var(--tertiary-text);
      border-radius: 20px;
      background: var(--secondary-bg);
      cursor: pointer;
      overflow: hidden;

      &.dragOver {
        background: var(--tertiary-bg);
      }

      .instruction {
        color: var(--primary-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;

        fa-icon {
          font-size: 22px;
        }

        label {
        }
      }

      .thumbnail {
        width: 100%;
        aspect-ratio: 16/9;
        -webkit-user-drag: none;
      }

      .progress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        width: 70%;
        height: 16px;
        background: var(--brand-02);
        overflow: hidden;

        .running-progress {
          height: 100%;
          background: var(--brand);
          border-radius: 12px;
        }

        .label-progress {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--primary-text);
          font-size: 12px;
          font-weight: 500;
        }
      }

      .remove-image-btn {
        position: absolute;
        bottom: 12px;
        right: 12px;
      }
    }
  }

  .input-label {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
  }

  .course-input {
    font-size: 13px;
    margin-top: 4px;
    width: 100%;
    display: block;
    background: var(--tertiary-bg);
    border: none;
    outline: none;
    color: var(--primary-text);
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: border-box;

    &.course-description {
      resize: none;
    }
  }

  .req-row {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;

    .currency {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(calc(-50% + 2px));
      font-size: 15px;
      font-weight: 500;
    }

    .money {
      padding-left: 26px;
    }

    fa-icon {
      color: var(--alert);
      font-size: 18px;
      transform: translateY(1px);
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        color: var(--error);
      }
    }
  }

  .btn-ctn {
    margin-top: 45px;
    display: flex;
    gap: 8px;

    app-button {
      width: 100%;
    }
  }

  .stages-ctn {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    .add-stage {
      display: flex;
      gap: 8px;
      cursor: pointer;
      color: var(--secondary-text);
      transition: all 0.1s linear;

      &:hover {
        color: var(--primary-text);
      }
    }

    .stage-wrapper {
      display: flex;
      align-items: start;
      width: 100%;
      gap: 6px;

      .drag-point {
        padding-top: 24px;
        color: var(--secondary-text);
        cursor: grab;
        align-self: stretch;
      }

      app-manage-stages {
        width: 100%;
        -webkit-user-drag: none;
      }
    }
  }

  .loading {
    width: 60%;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--tertiary-bg);
    z-index: 999;
  }
}
