<div class="manage-course">
  <div
    class="image-drop-zone"
    [ngClass]="{
        dragOver: isDragOverImgInput
    }"
    (click)="onClickAddImage()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <div class="instruction">
      <input type="file" (change)="onFileSelected($event)" #fileInput hidden/>
      <fa-icon [icon]="cameraIcon"></fa-icon>
      <label>{{ "MESSAGE.DROP_IMAGE_ADD_THUMBNAIL" | translate }}</label>
    </div>
  </div>
</div>
