<div class="my-revenue">
  <div class="title text-gradient">{{ "LABEL.REVENUE" | translate }}</div>
  <app-my-revenue-infos></app-my-revenue-infos>
  <app-my-revenue-courses-break-down></app-my-revenue-courses-break-down>
</div>

<!--

    3. Revenue trends & insights
    TOP Selling months this year & money
    Earnings Over Time: Line Graph showing revenue growth. (by month)
    Revenue percentags of top 3 courses & others
    Top 3 Selling Courses: Which courses bring in the most revenue.
 -->
