<div class="courses" @fadeInOut>
  <div class="found-course" *ngIf="searchKeyword.trim().length > 0">
    {{
      "LABEL.FOUND_COURSES"
        | translate : { courses: courses.length, keyword: searchKeyword }
    }}
  </div>
  <div class="courses-search-ctn">
    <div class="filter">
      <app-courses-search-pannel (onChange)="handleFilterChange($event)"></app-courses-search-pannel>
    </div>
    <div class="courses-list">
      <div class="num-courses">
        {{
          "LABEL.NUMBER_OF_COURSES"
            | translate : { courses: courses.length }
        }}
      </div>
      <div class="courses-list">
        <app-course-search-item *ngFor="let course of courses" [course]="course"></app-course-search-item>
      </div>
    </div>
  </div>
</div>
