<div class="create-video">
  <div class="title text-gradient">{{ "LABEL.CREATE_VIDEO" | translate }}</div>

  <div class="image-wrapper">
    <div
      class="image-drop-zone"
      [ngClass]="{
        dragOver: isDragOverImgInput
      }"
      [ngStyle]="{
        aspectRatio: material.video?.urlMaterial === '' && !uploadedFile ? '16/9' : 'unset',
        borderWidth: material.video?.urlMaterial === '' && !uploadedFile ? '1px' : '0px'
      }"
      (click)="onClickAddVideo()"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
    >
      <div
        class="instruction"
        *ngIf="
          !uploadedFile &&
          material.video?.urlMaterial === ''
        "
      >
        <input
          type="file"
          (change)="onFileSelected($event)"
          #fileInput
          hidden
        />
        <fa-icon [icon]="cameraIcon"></fa-icon>
        <label>{{ "MESSAGE.DROP_VIDEO" | translate }}</label>
      </div>

      <app-video
        *ngIf="material.video?.urlMaterial !== '' || uploadedFile"
        [sources]="[{ url: uploadedFile ? uploadedFile.url : material.video?.urlMaterial ?? '', label: '1080p' }]"
        [defaultSpeed]="1.0"
        (onLoad)="onLoadedVideo($event)"
      ></app-video>
      <app-button
        (click)="onRemoveVideo($event)"
        class="remove-image-btn"
        type="danger"
        *ngIf="material.video?.urlMaterial !== '' || uploadedFile"
        >{{ "BUTTON.REMOVE_VIDEO" | translate }}</app-button
      >
    </div>
  </div>

  <div class="input-label">{{ "LABEL.MATERIAL_NAME" | translate }}</div>
  <input
    class="material-input material-name"
    [placeholder]="'LABEL.MATERIAL_NAME' | translate"
    [(ngModel)]="material.title"
  />

  <div class="input-label">{{ "LABEL.MATERIAL_DESCRIPTION" | translate }}</div>
  <textarea
    class="material-input material-description"
    [placeholder]="'LABEL.MATERIAL_DESCRIPTION' | translate"
    [(ngModel)]="material.description"
    rows="4"
  ></textarea>

  <!-- <div class="input-label">{{ "LABEL.FAST_QUESTIONS" | translate }}</div>
  <div class="input-label-sub">{{ "LABEL.FAST_SUB" | translate }}</div> -->

  <!-- <div class="questions">
    <div
      class="question"
      *ngFor="let q of material.data.questions; let i = index"
    >
      <div class="input-wrapper">
        <input [(ngModel)]="material.data.questions[i].question" />
        <fa-icon
          class="remove"
          [icon]="removeIcon"
          (click)="onRemoveFastQuestion(i)"
        ></fa-icon>
      </div>


      <div class="answers">

        <div class="answer" *ngFor="let a of q.answers; let z = index">

          <fa-icon
            [ngClass]="{
              correct: a.isCorrect
            }"
            class="check-icon"
            [icon]="correctIcon"
            (click)="onSetCorrectAnswer(i, z)"
          ></fa-icon>

          <div class="id">{{ getQuestionAlphabet(z) }}.</div>
          <input [(ngModel)]="q.answers[z].answer" />

          <fa-icon
            class="remove"
            [icon]="removeIcon"
            (click)="onRemoveFQAnswer(i, z)"
          ></fa-icon>
        </div>
      </div>

      <div class="add add-answer" (click)="onAddFQAnswer(i)">
        <fa-icon [icon]="addIcon"></fa-icon>{{ "LABEL.ADD_ANSWER" | translate }}
      </div>
    </div>


    <div class="add" (click)="onAddFastQuestion()">
      <fa-icon [icon]="addIcon"></fa-icon>{{ "LABEL.ADD_QUESTION" | translate }}
    </div>
  </div> -->

  <div class="btn-ctn">
    <app-button [style]="{ width: '100%' }" (click)="onCancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </app-button>
    <app-button
      [style]="{ width: '100%' }"
      (click)="isEdit ? onUpdate() : onCreate()"
      type="primary"
      >{{
        (isEdit ? "BUTTON.UPDATE_MATERIAL" : "BUTTON.CREATE_MATERIAL")
          | translate
      }}</app-button
    >
  </div>
</div>