// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");

html {
  // @include mat.theme((
  //   color: (
  //     theme-type: light,
  //     primary: mat.$azure-palette,
  //     tertiary: mat.$blue-palette,
  //   ),
  //   typography: Roboto,
  //   density: 0,
  // ));
}

::ng-deep .mat-tooltip {
  background-color: var(--primary-bg) !important; /* Custom background */
  color: var(--primary-text) !important; /* Custom text color */
  font-size: 14px !important; /* Custom font size */
  padding: 8px 12px !important; /* Custom padding */
  border-radius: 4px !important; /* Rounded corners */
}

body {
  background-color: var(--background) !important;
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 13px;
  font-family: "Be Vietnam Pro", sans-serif;
}

textarea {
  font-family: "Be Vietnam Pro", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.NgxEditor__MenuBar {
  background-color: var(--secondary-bg) !important;
  border-radius: 8px 8px 0 0 !important;

  .NgxEditor__MenuItem--Icon,
  .NgxEditor__Dropdown {
    border-radius: 6px !important;
    &:hover {
      background-color: var(--brand-02) !important;
    }

    &.NgxEditor__MenuItem--Active {
      background: var(--brand) !important;

      &:hover {
        background: var(--brand) !important;
      }
    }
  }
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Open {
  background: var(--brand-02) !important;
  border-radius: 6px !important;
  color: var(--primary-text) !important;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
  background-color: var(--tertiary-bg) !important;
  color: var(--primary-text) !important;
  border-radius: 10px !important;
  overflow: hidden;

  .NgxEditor__Dropdown--Item {
    &:hover {
      background-color: var(--brand-02) !important;
    }
  }
}

.NgxEditor__Dropdown--Active {
  background: var(--brand-02) !important;
}
.NgxEditor__MenuItem--Active {
  color: var(--primary-text) !important;
}
.NgxEditor {
  background: var(--primary-bg) !important;
  border: 1px solid var(--tertiary-text) !important;
  color: var(--primary-text) !important;
  min-height: 300px;
  padding: 0 15px;
  box-sizing: border-box;
}

.NgxEditor__Popup {
  background: var(--secondary-bg) !important;
  border-radius: 8px !important;
  color: var(--primary-text) !important;

  input {
    background-color: var(--tertiary-bg) !important;
    border: 1px solid var(--tertiary-text) !important;
    outline: none !important;
    padding: 3px 6px !important;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--primary-text) !important;

    &:disabled {
      color: var(--tertiary-text) !important;
    }
  }
}

.NgxEditor,
.editor-loader-wrapper {
  h1 {
    font-size: 22px !important;
    background: linear-gradient(
      to right,
      var(--brand-hover),
      var(--brand-focused)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  code {
    background: var(--quaternary-bg) !important;
    padding: 2px 4px !important;
    box-sizing: border-box !important;
    border-radius: 2px !important;
  }
  blockquote {
    border-left-color: var(--tertiary-text) !important;
  }

  p {
    display: block !important;
    width: 100% !important;
  }
}

ngx-toggle-command {
  button {
    // background: var(--secondary-bg) !important;
    svg {
      fill: var(--primary-text) !important;
    }
  }
}

app-bar-chart,
app-line-chart,
app-pie-chart,
app-radar-chart {
  display: block;
  width: 100%;
}

input {
  background-color: var(--tertiary-bg) !important;
  // border: 1px solid var(--tertiary-text) !important;
  outline: none;
  // padding: 4px 6px !important;
  box-sizing: border-box;
  border-radius: 6px;
  color: var(--primary-text) !important;
  font-family: "Be Vietnam Pro", sans-serif !important;

  &.formated-input {
    border: 1px solid var(--tertiary-text) !important;
    font-size: 12px !important;
    padding: 4px 6px !important;
  }

  &:disabled {
    color: var(--tertiary-text) !important;
  }

  &[type="date"],
  &[type="time"] {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.form-input-group {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 8px;
  margin-bottom: 12px;

  .text-dropdown-group {
    grid-column: 10/25;
    display: flex;
    gap: 4px;
  }

  label {
    grid-column: 1/10;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .wrapper {
    grid-column: 10/25;
    display: flex;
    gap: 6px;
    align-items: center;
    width: 100%;
    input {
      width: 100% !important;

      &[type="number"] {
        width: 50% !important;
        min-width: 120px;
      }
    }

    .remove-icon {
      color: var(--alert);
      cursor: pointer;
    }
  }

  .add-label-input {
    display: flex;
    align-items: center;
    gap: 4px;
    grid-column: 10/25;
    font-size: 11px;
    color: var(--secondary-text);
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      color: var(--primary-text);
    }

    fa-icon {
      font-size: 14px;
    }

    .text {
      .main-text {
        font-size: 12px;
      }
      .sub-text {
        font-size: 9px;
      }
    }
  }

  input,
  .time-ctn {
    font-size: 12px !important;
    grid-column: 10/25;

    &[type="number"] {
      width: 50%;
      min-width: 120px;
    }
  }
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
  height: 5px; /* For horizontal scrollbars */
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  transition: all 0.1s linear;
  background: var(--brand-02); /* Change thumb color */
  border-radius: 5px; /* Rounded corners */
}

/* Track (the area where thumb moves) */
::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  border-radius: 5px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-05);
}

select option {
  background-color: var(--secondary-bg) !important;
  color: var(--primary-text) !important;

  &:hover {
    background-color: var(--quaternary-bg) !important;
  }
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: var(--quaternary-bg) !important;
  color: var(--primary-text) !important;

  .ng-value-icon.left {
    color: var(--alert) !important;
    border-right-color: var(--quaternary-text) !important;

    &:hover {
      background-color: var(--quaternary-bg) !important;
    }
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background: var(--quaternary-bg) !important;
  color: var(--primary-text) !important;
}

.ng-select-container {
  background: var(--tertiary-bg) !important;
  border: none !important;
  border-radius: 8px !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border: 1px solid var(--quaternary-text) !important;
}

.ng-select.ng-select-multiple {
  .ng-select-container .ng-value-container .ng-input > input {
    color: var(--primary-text) !important;
    background-color: transparent !important;
  }
}