
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");

html {
  // @include mat.theme((
  //   color: (
  //     theme-type: light,
  //     primary: mat.$azure-palette,
  //     tertiary: mat.$blue-palette,
  //   ),
  //   typography: Roboto,
  //   density: 0,
  // ));
}

::ng-deep .mat-tooltip {
  background-color: var(--primary-bg) !important; /* Custom background */
  color: var(--primary-text) !important; /* Custom text color */
  font-size: 14px !important; /* Custom font size */
  padding: 8px 12px !important; /* Custom padding */
  border-radius: 4px !important; /* Rounded corners */
}

body {
    background-color: var(--background) !important;
    padding: 0;
    margin: 0;
    color: var(--primary-text);
    font-weight: 400;
    font-size: 13px;
    font-family: "Be Vietnam Pro", sans-serif;
}

textarea {
  font-family: "Be Vietnam Pro", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
