// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");

html {
  // @include mat.theme((
  //   color: (
  //     theme-type: light,
  //     primary: mat.$azure-palette,
  //     tertiary: mat.$blue-palette,
  //   ),
  //   typography: Roboto,
  //   density: 0,
  // ));
}

::ng-deep .mat-tooltip {
  background-color: var(--primary-bg) !important; /* Custom background */
  color: var(--primary-text) !important; /* Custom text color */
  font-size: 14px !important; /* Custom font size */
  padding: 8px 12px !important; /* Custom padding */
  border-radius: 4px !important; /* Rounded corners */
}

body {
  background-color: var(--background) !important;
  padding: 0;
  margin: 0;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 13px;
  font-family: "Be Vietnam Pro", sans-serif;
}

textarea {
  font-family: "Be Vietnam Pro", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.NgxEditor__MenuBar {
  background-color: var(--secondary-bg) !important;

  .NgxEditor__MenuItem--Icon,
  .NgxEditor__Dropdown {
    border-radius: 6px !important;
    &:hover {
      background-color: var(--brand-02) !important;
    }

    &.NgxEditor__MenuItem--Active {
      background: var(--brand) !important;

      &:hover {
        background: var(--brand) !important;
      }
    }
  }
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--Selected,
.NgxEditor__Dropdown .NgxEditor__Dropdown--Open {
  background: var(--brand-02) !important;
  border-radius: 6px !important;
  color: var(--primary-text) !important;
}

.NgxEditor__Dropdown .NgxEditor__Dropdown--DropdownMenu {
  background-color: var(--tertiary-bg) !important;
  color: var(--primary-text) !important;
  border-radius: 10px !important;
  overflow: hidden;

  .NgxEditor__Dropdown--Item {
    &:hover {
      background-color: var(--brand-02) !important;
    }
  }
}

.NgxEditor__Dropdown--Active {
  background: var(--brand-02) !important;
}

.NgxEditor {
  background: var(--primary-bg) !important;
  border: 1px solid var(--tertiary-text) !important;
  color: var(--primary-text) !important;
  min-height: 300px;
  padding: 0 25px;
  box-sizing: border-box;
}

.NgxEditor,
.editor-loader-wrapper {
  h1 {
    font-size: 22px !important;
    background: linear-gradient(
      to right,
      var(--brand-hover),
      var(--brand-focused)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px !important;
  }
}

ngx-toggle-command {
  button {
    // background: var(--secondary-bg) !important;
    svg {
      fill: var(--primary-text) !important;
    }
  }
}
