<div class="level-section">
  <div class="btn-ctn">
    <ng-container
      [ngTemplateOutlet]="isEdit ? editBtns : notEditBtns"
    ></ng-container>
  </div>

  <app-table
    [changePage]="changePage$"
    [columns]="tableColumns"
    [data]="levels"
    *ngIf="!isEdit"
  />
  <app-table
    [changePage]="changePage$"
    [columns]="editingColumns"
    [data]="editingLevels"
    *ngIf="isEdit"
  />
</div>

<ng-template #expInput let-row="row">
  <input type="number" [(ngModel)]="row.exp" class="formated-input"/>
</ng-template>

<ng-template #rewardInput let-row="row">
  <div class="reward-input-wrapper">
    <div class="group" *ngFor="let reward of row.rewardType; let i = index">
      <select [(ngModel)]="row.rewardType[i]">
        <option
          *ngFor="let opt of rewardTypeSelectOptions"
          [ngValue]="opt.value"
        >
          {{ opt.label | translate }}
        </option>
      </select>
      <div class="divider"></div>
      @switch(onGetInputType(reward)) { @case('input') {
      <input [(ngModel)]="row.rewardValue[i]" type="number" />
      } @case('item') {
      <select [(ngModel)]="row.rewardValue[i]">
        <option *ngFor="let opt of foxItemOptions" [ngValue]="opt.value">
          {{ "SHOP_ITEMS." + opt.label.toUpperCase() | translate }}
        </option>
      </select>
      } @case('coupon') {
        <input
        style="min-width: none !important; width: 70px !important"
        [(ngModel)]="row.rewardValue[i]"
        type="number"
      />
      %
    } @case('booster'){
      <select [(ngModel)]="row.rewardValue[i]">
        <option *ngFor="let opt of boosterTypeOptions" [ngValue]="opt.value">
          {{ opt.label | translate }}
        </option>
      </select>
      } }

      <fa-icon
        (click)="onRemoveReward(row, i)"
        class="remove-icon"
        [icon]="removeIcon"
      ></fa-icon>
    </div>

    <div
      class="add-reward"
      (click)="onAddReward(row)"
      *ngIf="row.rewardType.length < this.rewardTypeSelectOptions.length"
    >
      <fa-icon [icon]="newIcon"></fa-icon>
      {{ "LABEL.ADD_REWARD" | translate }}
    </div>
  </div>
</ng-template>

<!-- BTNS -->
<ng-template #notEditBtns>
  <app-button (click)="onEditLevel()"
    ><fa-icon [icon]="editIcon"></fa-icon
    >{{ "LABEL.EDIT" | translate }}</app-button
  >
  <app-button type="primary" (click)="onAddLevel()"
    ><fa-icon [icon]="newIcon"></fa-icon
    >{{ "LABEL.NEW_LEVEL" | translate }}</app-button
  >
</ng-template>

<ng-template #editBtns>
  <app-button (click)="onEditLevel()">{{
    "LABEL.CANCEL" | translate
  }}</app-button>
  <app-button type="primary" (click)="onSaveLevel()">{{
    "LABEL.SAVE" | translate
  }}</app-button>
</ng-template>

<ng-template #deleteLevel let-row="row">
  <fa-icon
    (click)="onDeleteLevel(row)"
    style="color: var(--error); cursor: pointer"
    [icon]="deletedLevels.includes(row.id) ? recoverIcon : removeIcon"
  ></fa-icon>
</ng-template>
