<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let col of columns"
          (click)="onSwitchKey(col)"
          [ngStyle]="{
            cursor: col.isSwitchData ? 'pointer' : '',
            display: col.isSwitchData ? 'flex' : '',
            justifyContent: 'space-between'
          }"
        >
          <div class="info">
            {{ col.label | translate }}
            <span *ngIf="col.isSwitchData"
              >({{ onGetCurrentKeyLabel(col) | translate }})</span
            >
          </div>
          <div class="filter-items" *ngIf="col.isSwitchData">
            <div class="item" *ngFor="let it of onGetCurrentKeyValues(col)" [ngClass]="{selected: onGetCurrentKeyLabel(col) === it}"></div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of onGetDataRow(); let idx = index"
        (click)="handleRowClick(row)"
      >
        <td
          *ngFor="let col of columns"
          [ngStyle]="onGetDataStyle(col, row)"
          [ngClass]="onGetClass(col, row)"
          (click)="handleClick(col, row)"
        >
          @if(col.elementRef) {
          <ng-container
            [ngTemplateOutlet]="col.elementRef"
            [ngTemplateOutletContext]="{ row, index:  idx}"
          ></ng-container>
          } @else {
          {{
            col.isMoney
              ? ("SIGNATURE.MONEY_VALUE"
                | translate
                  : {
                      value:
                        onGetVal(col, row)
                        | currencyExchange : { toString: true }
                    })
              : col.translateLabel
              ? (onGetColLabel(col, row) | translate : onGetVal(col, row))
              : onGetVal(col, row)
          }}
          }
          <fa-icon *ngIf="col.icon" [icon]="col.icon"></fa-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="paginition">
    <fa-icon
      *ngIf="currentPage > 1"
      [icon]="leftIcon"
      (click)="onModifyPage(currentPage - 1)"
    ></fa-icon>
    <div
      class="page-item"
      [ngClass]="{
        active: page === currentPage
      }"
      (click)="onModifyPage(page)"
      *ngFor="let page of totalPages"
    >
      {{ page }}
    </div>
    <fa-icon
      *ngIf="currentPage < data.length / itemsPerPage"
      [icon]="rightIcon"
      (click)="onModifyPage(currentPage + 1)"
    ></fa-icon>
  </div>
</div>
